<form class="app-form-controls{~className?' '+~className}" method="{~method}" action="{~action}" data-ajax="{~ajax?1}" data-iframe="{~iframe?1}" scope>
	<:content/>
	{foreach ~controls as &control}
		<FormField props="{&control}"/>
	{/foreach}
	{if ~submit}
		<Submit props="{~submit}" onSubmit="onSubmit"/>
	{/if}	
</form>