{template .main}
	<forma class="app-form-controls" method="{~method}" action="{~action}" onSubmit="onSubmit">
		<template content>
		{foreach ~controls as &control}
			<component class="FormField" args="{&control}">
		{/foreach}
		{if ~submit}
			<component class="Submit" props="{~submit}">
		{/if}	
	</forma>
{/template}

{template .content}
{/template}