{template .content}
	<div class="simple-datatable calendar-favorites-datatable">
		{foreach $tenders as &tender}
			{let &tender['nocontrols'] = 1}
			<component DataTableStandartRow args="{&tender}">
		{/foreach}
	</div>
{/template}