{template .content}
	<div class="simple-datatable calendar-favorites-datatable">
		{foreach $tenders as &tender}
			<component class="DataTableStandartRow" args="{&tender}" arg:nocontrols="1">
		{/foreach}
	</div>
{/template}