{template .main}
<div class="@outer-container" onCLick="handleClick">
	<DataTableTabPanel onChange="handleChange"/>
	{$:aaa}
	<::hello>
		<Reason>
			{foreach $items as &i}
				<div>{&i}</div>
			{/foreach}
		</Reason>
	</::hello>
</div>
