{template .main}
<div class="@outer-container" onCLick="handleClick">
	<DataTableTabPanel/>
	{$:aaa}
	<::hello>
		<Reason>
			<div>
				{$bbb}
			</div>			
			{let &ddd=3}
			{if}
				{case $ddd == 2}
					ITS 2
				{/case}
				
				{case &ddd == 3}
					ITS 3
				{/case}				
			{/if}
		</Reason>
	</::hello>
</div>
