.app-search-form {
	position: absolute;
	color: #222121;
    z-index: 2;
    background-color: #444b57;
    top: 7px;
    left: -300px;
    bottom: 7px;
    width: 330px;
    border-radius: 4px;
}
.view-content.form-expanded .app-search-form {
    left: 7px;
}
.app-search-form-title {
    height: 37px;
    line-height: 39px;
    color: #edf0f4;
    background-image: linear-gradient(to bottom, #647188, #4d5768);
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid #3e4552;
    padding-left: 31px;
    font-family: ptsansbold;
    font-size: 14px;
    box-sizing: border-box;
}
.app-search-form-title:before {
    content: '';
    background-image: url(../images/searchform/search.png);
    display: inline-block;
    width: 11px;
    height: 11px;
    margin-right: 8px;
}
.app-search-form-close {
    transform: rotate(180deg);
    display: block;
    position: absolute;
    right: 0px;
    top: 7px;
    background-image: url(../images/searchform/close.png);
    background-repeat: no-repeat;
    background-position: 100% 50%;
    cursor: pointer;
    z-index: 15;
    height: 23px;
    width: 23px;
    color: transparent;
    overflow: hidden;
}
.view-content.form-expanded .app-search-form-close {
    transform: rotate(0deg);
    right: 10px;
}
.app-search-form-reset {
    position: absolute;
    right: 34px;
    top: 5px;
    padding-left: 22px;
    line-height: 16px;
    height: 25px;
    width: 0px;
    color: #5c606a;
    font-size: 14px;
    font-family: ptsansbold;
    background-image: url(../images/searchform/clear.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    white-space: nowrap;
    z-index: 10;
}
.app-search-form-reset .hover-label {
    display: none;
    position: absolute;
    background-color: #D35655;
    color: #ffffff;
    line-height: 36px;
    top: 50%;
    margin-top: -18px;
    padding: 0 10px 0 11px;
    right: 0;
}
.app-search-form-reset:hover .hover-label {
    display: block;
}
.app-search-form-reset.active .hover-label {
    display: none;
}
.app-search-form-reset.active {
    width: 134px;
    height: 36px;
    top: 0;
    background-color: #D35655;
}
.app-search-form-reset .confirm-label {
    display: none;
    line-height: 36px;
    white-space: nowrap;
    color: #ffffff;
    border-top-left-radius: 4px;
    cursor: auto;
    text-align: right;
}
.app-search-form-reset .confirm-label i {
    margin-left: 15px;
}
.app-search-form-reset.active .confirm-label {
    display: block;
}
.app-search-form-reset.active .confirm-label i {
    font-style: normal;
    padding: 9px 15px;
    line-height: 36px;
    background-color: #B35050;
    cursor: pointer;
}