<div class="view-content{$expanded?' ->>form-expanded'}" scope>
	<component class="TenderSearchForm" cmpid="form" onExpand="onFormExpand"/>
	<component class="TenderDataTable" cmpid="datatable"/>
</div>