*::-webkit-scrollbar { $wh10 } 
*::-webkit-scrollbar-button { $none } 
*::-webkit-scrollbar-track { $bc#bec5cf } 
*::-webkit-scrollbar-track-piece { $bc#bec5cf } 
*::-webkit-scrollbar-thumb { $mih35 $miw35 $bc#45546d $pointer } 
*::-webkit-scrollbar-thumb:hover { $bc#60708b } 
*::-webkit-scrollbar-corner { $bc#bec5cf }
*::-webkit-resizer { $bc#bec5cf }

@font-face {
    font-family: 'ptsans';
    src: url('../fonts/ptsans.woff2') format('woff2'),
         url('../fonts/ptsans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'ptsansbold';
  src: url('../fonts/ptsansbold.woff2') format('woff2'),
       url('../fonts/ptsansbold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'segoesemibold';
    src: url('../fonts/seguisb.woff2') format('woff2'),
         url('../fonts/seguisb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
	$p0 $m0 $regular $c#505b6e
}
h1 {
	$normal
}
a {
	$pointer $c#505b6e
	text-decoration: none;
}
textarea {
  resize: none;
}
.app-view-container {
	$abs $p0 $z1 $t43 $l $r $b
}
.bold {
  $bold
}
.standart-button {
  $rel $block $lh38 $mah38 $mih38 $fs14 $bc#5c729e $white $bold $br3 $center $pointer $box
  background-image: url(../images/buttons/blue.png);
  background-position: 0 0;
}
.standart-button:hover {
  background-position: 0 100% $i;
}
.standart-button.green-button {
  $bc#38986a
  background-image: url(../images/buttons/green.png);
}
.standart-button.red-button {
  $bc#b65f5f
  background-image: url(../images/buttons/red.png);
}
.standart-button.gray-button {
  $noimg $bc#e1e1e2 $c#40434e $bo#b7b6b6 $lh36
}
.standart-button.gray-button:hover {
  $bo#919498 $bc#d3d5dd $c#2c3b5a
}
.standart-button.white-button {
  $noimg $c#535f77 $bgwhite  $bo#a6b3cb $lh36 $regular
}
.standart-button.white-button:hover {
  $bo#677CA7 $c#3D485F
}
.standart-button.disabled {
  $bc#aaa
}
.float-left {
  $fleft
}
.float-right {
  $fright
}