@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular.woff2') format('woff2'),
         url('../fonts/opensans-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/open_sansbold.woff2') format('woff2'),
         url('../fonts/open_sansbold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Light';
  src: url('../fonts/OpenSans-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'museo_sans_cyrl300';
    src: url('../fonts/museo_sans_cyrl_300.woff2') format('woff2'),
         url('../fonts/museo_sans_cyrl_300.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'museo_sans_cyrl500';
    src: url('../fonts/museosanscyrl_1.woff2') format('woff2'),
         url('../fonts/museosanscyrl_1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'museo_sans_cyrl700';
    src: url('../fonts/museo_sans_cyrl_700.woff2') format('woff2'),
         url('../fonts/museo_sans_cyrl_700.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



html {
	height: 100%;
}
body {
	height: 100%;
	min-width: 1280px;
	padding: 0;
	margin: 0;
	font-family: open_sansregular;
	color: #000000;
	font-size: 14px;
	background-color: #ffffff;
}
body.fixed-header {
	padding-top: 197px;
}
textarea, input[type="text"], input[type="password"], select {
	font-family: open_sansregular;
	border: none;
	background-color: transparent;
	font-size: 14px;
	color: #000000;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #959595;
	transition: color 0.2s;
	-moz-transition: color 0.2s;
	-webkit-transition: color 0.2s;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
	color: #959595;
	transition: color 0.2s;
	-moz-transition: color 0.2s;
	-webkit-transition: color 0.2s;
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
	color: #ccc;
}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
	color: #ccc;
}
input:focus, textarea:focus {
	outline: none;
}
input[type="checkbox"] {
	width: auto;
	height: auto;
}
input[type="submit"] {
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-family: open_sansregular;
}
div, textarea, input[type="text"], input[type="password"], input[type="file"], input[type="submit"], select, form, header, footer {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
h1, h2, h3 {
	color: #5b5b5b;
	font-family: 'museo_sans_cyrl500';
	font-size: 30px;
	margin: 0 auto;
	margin-bottom: 25px;
	padding: 0;
	position: relative;
	font-weight: normal;
}
p {
	margin: 0px;
	padding: 0px 0px 20px 0px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
a {
	cursor: pointer;
	text-decoration: none;
	border: none;
	color: #000000;
}
label {
	cursor: pointer;
}
.clear {
	clear: both;
	display: block;
}
.block {
	position: relative;
}
.block-inner {
	position: relative;
	margin: auto;
	width: 1170px;
	z-index: 2;
}

/* ORDER-FORM */
.order-form.form {
	width: 290px;
	padding-top: 15px;
}
.order-form.form h2 {
	color: #5b5b5b;
	font-size: 26px;
	font-family: 'museo_sans_cyrl500';
	text-align: left;
	margin-bottom: 20px;
}
.order-form.form .inputs {
	position: relative;
	border: 1px solid #c7c7c7;
	border-radius: 2px 2px 0 0;
}
.order-form.form .inputs:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.1;
}
.order-form.form .inputs-inner {
	position: relative;	
	z-index: 2;
}
.order-form.form .select {
	height: 48px;
	background-color: #fff;
	border-radius: 2px 2px 0 0;
	padding-left: 21px;
	cursor: pointer;
	position: relative;
}
.order-form.form .select-value {
	position: relative;
	line-height: 50px;
	font-family: 'OpenSans-Light';
}
.order-form.form .select-value:after {
	content: '';
	position: absolute;
	right: 18px;
	top: 21px;
	width: 16px;
	height: 8px;
	background-image: url(../images/select-arrow.png);
}
.order-form.form .select-options {
	display: none;
	position: absolute;
	top: 100%;
	left: -1px;
	right: -1px;
	border: 1px solid #c7c7c7;
	border-radius: 2px;
}
.order-form.form .select-option {
	line-height: 18px;
	padding: 12px 20px;
	background-color: #e7e7e7;
	border-bottom: 1px solid #d9d9d9;
}
.order-form.form .select-option:hover {
	background-color: #d9d9d9;
}
.order-form.form .select-option:last-child {
	border-bottom: 0;
}
.order-form.form .select:hover .select-options {
	display: block;
}
.order-form.form input[type="text"],
.order-form.form textarea {
	width: 100%;
	padding: 15px 18px;
	font-family: 'OpenSans-Light';
	color: #000;
}
.order-form.form input[type="text"] {
	border-bottom: 1px solid #e1e1e1;
}
.order-form.form textarea {
	resize: none;
	height: 98px;
}
.order-form.form input::-webkit-input-placeholder,
.order-form.form textarea::-webkit-input-placeholder {
	color: #000;
	transition: color 0.2s;
	-moz-transition: color 0.2s;
	-webkit-transition: color 0.2s;
}
.order-form.form input::-moz-placeholder,
.order-form.form textarea::-moz-placeholder {
	color: #000;
	transition: color 0.2s;
	-moz-transition: color 0.2s;
	-webkit-transition: color 0.2s;
}
.order-form.form input:focus::-webkit-input-placeholder,
.order-form.form textarea:focus::-webkit-input-placeholder {
	color: #aaa;
}
.order-form.form input:focus::-moz-placeholder,
.order-form.form textarea:focus::-moz-placeholder {
	color: #aaa;
}
.order-form.form input[type="submit"] {
	height: 60px;
	width: 100%;
	background-color: #8cc642;
	background-image: url(../images/green.png);
	border-radius: 0 0 2px 2px;
	color: #fff;
	font-family: 'open_sansbold';
	font-size: 14px;
	margin-bottom: 18px;
}
.order-form.form input[type="submit"]:hover {
	background-image: url(../images/blue.png);
	background-color: #53afbd;
}
.order-form.form a.policy{
	font-family: 'museo_sans_cyrl500';
	color: #000;
	font-size: 12px;
}
.order-form.form a.policy:hover {
	color: #8cc642;
}



/* иряър */
.header {
	background-image: url(../images/blue.png);
	background-color: #53afbd;
	z-index: 4;
}
.fixed-header .header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
}
.header .logo {
	cursor: pointer;
	display: none;
	height: 70px;
	position: absolute;
	left: 0;
	top: 0;
	background-image: url(../images/white-logo.png);
	background-repeat: no-repeat;
	background-position: 0 60%;
	width: 126px;
}
.fixed-header .header .logo {
	display: block;
}


.header .block-inner {
	height: 70px;
	line-height: 70px;
}
.header .fa {
	color: #ffffff;
	font-size: 18px;
	margin-left: 18px;
	cursor: pointer;
}
.header .fa:hover {
	color: inherit;
}
.header .buttons {
	float: right;
}
.header .buttons .button {
	border: 2px solid #fff;
	color: #fff;
	cursor: pointer;
	width: 184px;
	height: 40px;
	font-size: 12px;
	box-sizing: border-box;
	line-height: 36px;
	text-align: center;
	border-radius: 3px;
	vertical-align: middle;
	display: inline-block;
	margin-left: 44px;
	font-family: 'museo_sans_cyrl500';
}
.header .button:hover {
	border-color: #000;
	color: #000;
}
.header .phone {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	padding-left: 9px;
	margin-left: 13px;
	color: #fff;
	font-size: 22px;
	font-family: 'museo_sans_cyrl300';
}
.header .phone:before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	height: 16px;
	width: 1px;
	margin-top: -8px;
	background-color: #fff;
}
.nav-header  {
	z-index: 10;
	background-color: #fff;
}
.fixed-header .nav-header {
	position: fixed;
	width: 100%;
	top: 70px;
	z-index: 99;
	background-color: #e7e7e7;
}
.nav-header .nav-block {
	height: 126px;
	position: relative;
	z-index: 3;
}
.fixed-header .nav-header .nav-block {
	height: 42px;
}
.nav-header .fa {
	display: none;
	color: #5b5b5b;
	font-size: 18px;
	margin-left: 18px;
	cursor: pointer;
}
.nav-header .fa:hover {
	color: inherit;
}
.fixed-header .nav-header .fa {
	display: inline-block;
	line-height: 42px;
	margin-left: 0;
	margin-right: 16px;
}
.nav-header .logo {
	cursor: pointer;
	display: block;
	height: 126px;
	position: absolute;
	left: 0;
	top: 0;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-position: 0 60%;
	width: 248px;
}
.fixed-header .header .social,
.fixed-header .header .header-text,
.fixed-header .nav-header .logo {
	display: none;
}
.nav-header .search-form {
	position: absolute;
	top: 0;
	right: 94px;
	height: 44px;
	background-color: #e7e7e7;
	width: 346px;
}
.fixed-header .nav-header .search-form {
	visibility: hidden;
}
.nav-header .search-form input[type="text"] {
	width: 100%;
	padding: 13px;
}
.nav-header nav {
	position: absolute;
	left: 300px;
	bottom: 0;
	line-height: 66px;
}
.fixed-header .nav-header nav {
	line-height: 42px;
}
.nav-header nav > div {
	position: relative;
	font-family: open_sansbold;
	display: inline-block;
	padding: 0 15px;
}
.nav-header nav > div:after {
	content: '';
	position: absolute;
	top: 100%;
	z-index: 4;
	background-image: url(../images/arrow.png);
	width: 24px;
	height: 12px;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0.2s, opacity 0.2s;
	left: 50%;
	margin-left: -12px;
}
.nav-header nav > div > a {
	color: #5b5b5b;
}
.nav-header nav > div > span {
	position: absolute;
	top: 100%;
	left: 0;
	width: 285px;
	background-color: #e6e6e6;
	padding-top: 40px;
	padding-bottom: 20px;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0.2s, opacity 0.2s;
}
.nav-header nav > div.with-submenu:hover:after,
.nav-header nav > div:hover > span {
	visibility: visible;
	opacity: 1;
}
.nav-header nav > div > span:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background-image: url(../images/blue.png);
	background-color: #53afbd;
	top: 0;
}
.nav-header nav > div > span:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 7px;
	background-image: url(../images/blue.png);
	background-color: #53afbd;
	bottom: 0;
}
.nav-header nav > div > span.catalog-submenu {
	width: 320px;
}
.nav-header nav > div > span > a {
	display: block;
	line-height: 20px;
	padding: 4px 30px 4px 30px;
	font-family: open_sansregular;
	position: relative;
}
.nav-header nav > div > span > a:before {
	content: '';
	position: absolute;
	left: 14px;
	top: 11px;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-image: url(../images/blue.png);
	background-color: #53afbd;
}
.nav-header nav > div > a:hover {
	color: #53afbd;
}
.nav-header nav > div > span > a:hover {
	background-color: #dadada;
}
.nav-header nav > div:last-child {
	padding-right: 0;
}
.nav-header .block-inner:after { 
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	height: 2px;
	background-image: url(../images/blue.png);
	background-color: #53afbd;
}
.fixed-header .nav-header .block-inner:after {
	display: none;
}
.header-bottom {
	z-index: 4;
}
.header-bottom .nav-bottom {
	position: relative;
	height: 45px;
	white-space: nowrap;
}
.header-bottom .nav-bottom-right {
	position: absolute;
	right: 0;
	top: 2px;
	bottom: 0;
	line-height: 43px;
	background-image: url(../images/blue.png);
	background-color: #53afbd;
	padding-left: 45px;
	padding-right: 60px;
	font-family: 'museo_sans_cyrl500';
	font-size: 22px;
	color: #fff;
	z-index: 2;
}
.header-bottom .nav-bottom-left {
	position: absolute;
	left: 0;
	top: 2px;
	bottom: 0;
	line-height: 43px;
	background-image: url(../images/license.png);
	background-position: 9px 50%;
	background-repeat: no-repeat;
	z-index: 1;
	padding-left: 34px;
	font-size: 12px;
	font-family: 'open_sansbold';
}
.header-bottom .nav-bottom-left a {
	color: #5b5b5b;
}
.header-bottom .nav-bottom-left a:hover {
	color: #8cc642;
}


/* BANNER */
.banner {
	background-image: url(../images/banner.jpg);
	background-position: 50% 50%;
	z-index: 3;
}
.banner .block-inner {
	height: 523px;
}
.banner .circles {
	position: absolute;
	right: 0;
	width: 290px;
	bottom: 15px;
}
.banner .line {
	position: absolute;
	right: 15px;
	bottom: 100%;
	height: 2000px;
	width: 1px;
	z-index: 5;
}
.banner .line:after {
	content: '';
	position: absolute;
	width: 1px;
	height: 100%;
	background-color: #000;
	opacity: 0.15;
}
.header-bottom .circle,
.banner .circle {
	position: absolute;	
	width: 11px;
	height: 11px;
	border-radius: 50%;
	left: -5px;
	top: -6px;
	background-color: #fff;
	border: 2px solid #8cc642;
	z-index: 2;
}
.banner .circles .circle {
	position: static;
	display: inline-block;
	margin-right: 14px;
	cursor: pointer;
}
.banner .circles .circle.active {
	background-color: #8cc642;
	background-image: url(../images/green.png);
}
.header-bottom .circle {
	right: 321px;
	left: auto;
	top: 100%;
	margin-top: -6px;
}
.banner .line .bottom-circle {
	top: auto;
	bottom: -4px;
	width: 7px;
	height: 7px;
	left: -3px;
	background-color: #8cc642;
	background-image: url(../images/green.png);
}
.banner .info {
	position: absolute;
	right: 311px;
	bottom: 15px;
	width: 386px;
	box-sizing: border-box;
}
.banner .info:before {
	content: '';
	position: absolute;
	z-index: 1;
	background-color: #fff;
	opacity: 0.6;
	width: 100%;
	height: 100%;
}
.banner .info-content {
	position: relative;
	z-index: 2;
	padding: 15px 30px;
	font-size: 13px;
	line-height: 16px;
}
.banner .order-form.form {
	position: absolute;
	right: 0;
	top: 0;
}


/* GALLERY */
.gallery {
	
}
.gallery .block-inner {
	padding-top: 57px;
}
.gallery .columns {
	white-space: nowrap;
	line-height: 0;
	font-size: 0;
	letter-spacing: -1px;
}
.gallery .column {
	line-height: 20px;
	font-size: 14px;
	letter-spacing: 0;
	display: inline-block;
	white-space: normal;
	vertical-align: top;
	width: 270px;
	margin-right: 30px;
}
.gallery .column:nth-child(4n) {
	margin-right: 0;	
}
.gallery .column-head {
	background-image: url(../images/blue.png);
	background-color: #53afbd;
	color: #fff;
	font-size: 18px;
	font-family: 'museo_sans_cyrl700';
	min-height: 71px;
	padding: 12px 25px;
	line-height: 22px;
}
.gallery .column-head.green {
	background-color: #8cc642;
	background-image: url(../images/green.png);
}
.gallery .column-content {
	padding: 19px 10px 8px 10px;
	line-height: 24px;
	position: relative;
}
.gallery .column-content:after {
	content: '';
	position: absolute;
	top: 100%;
	height: 4px;
	left: 0;
	right: 0;
	background-image: url(../images/blue.png);
	background-color: #53afbd;
}
.gallery .column-content a {
	color: #8cc642;
	font-family: 'open_sansbold';
}
.gallery .column-content a:hover {
	color: #53afbd;
}
.gallery .slider {
	box-sizing: border-box;
	position: relative;
}
.gallery .slider-outer {
	position: relative;
	height: 312px;
	overflow: hidden;
}
.gallery .slider-inner {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	white-space: nowrap;
	line-height: 0;
	font-size: 0;
	letter-spacing: -1px;
}
.gallery .slide {
	vertical-align: top;
	height: 312px;
	display: inline-block;
	line-height: 18px;
	font-size: 14px;
	letter-spacing: 0;
	width: 270px;
	white-space: normal;
}
.gallery .slide .image {
	height: 241px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.gallery .slide .text {
	border: 1px solid #bbbbbb;
	padding: 7px 10px;
}
.gallery .slide .text b {
	display: block;
	font-weight: normal;
	font-family: 'open_sansbold';
}
.gallery .slider .slider-prev,
.gallery .slider .slider-next {
	position: absolute;
	top: 50%;
	left: -28px;
	width: 52px;
	height: 52px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	cursor: pointer;
	border-radius: 50%;
	border: 1px solid #e1e1e3;
	margin-top: -60px;
	background-color: #fff;
}
.gallery .slider .slider-prev:after,
.gallery .slider .slider-next:after {
	content: '';
	position: absolute;
	left: -4px;
	right: -4px;
	top: -4px;
	bottom: -4px;
	opacity: 0.4;
	border: 4px solid #e1e1e3;
	border-radius: 50%;
}
.gallery .slider .slider-prev {
	background-image: url(../images/prev.png);
}
.gallery .slider .slider-next {
	left: auto;
	right: -28px;
	background-image: url(../images/next.png);
}
.gallery .slider .slider-prev:hover:after,
.gallery .slider .slider-next:hover:after,
.gallery .slider .slider-prev:hover,
.gallery .slider .slider-next:hover {
	border-color: #ceced4;
}

.gallery .info-about {
	margin-top: 70px;
	position: relative;
	padding-left: 300px;
	font-size: 16px;
	color: #7e848e;
	line-height: 20px;
}
.gallery .info-about p {
	padding-bottom: 15px;
}
.gallery .info-about p b {
	font-weight: normal;
	font-family: 'open_sansbold';
	color: #53afbd;
}
.gallery .info-about .image {
	position: absolute;
	left: 0;
	top: 0;
	width: 272px;
	height: 377px;
	background-image: url(../images/about.jpg);
}


/* WHAT IS */
.whatis {
	margin-top: 45px;
}
.whatis .block-inner {
	
}
.whatis .block-inner h2 {
	color: #5b5b5b;
	margin-bottom: 25px;
}
.whatis .items {
	padding-left: 75px;
}
.whatis .item {
	position: relative;
}
.whatis .item p {
	color: #7e848e;
}
.whatis .item p b {
	font-weight: normal;
	color: #000;
}
.whatis .item:before {
	content: '';
	position: absolute;
	width: 2px;
	background-color: #e7e8ec;
	top: 0;
	bottom: 0;
	left: -41px;
}
.whatis .item:last-child:before {
	display: none;
}
.whatis .item .icon {
	position: absolute;
	left: -65px;
	top: 0;
}
.whatis .item .icon-bg {
	position: absolute;
	z-index: 3;
	left: -3px;
	right: -3px;
	top: -3px;
	bottom: -3px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.whatis .item:nth-child(1) .icon-bg {
	background-image: url(../images/step1.png);
	background-position: 70% 55%;
}
.whatis .item:nth-child(2) .icon-bg {
	background-image: url(../images/step2.png);
}
.whatis .item:nth-child(3) .icon-bg {
	background-image: url(../images/step3.png);
}
.whatis .item.active .icon:after {
	background-color: #8cc642;
	background-image: url(../images/green.png);
}
.whatis .item.active:nth-child(1) .icon-bg {
	background-image: url(../images/step1-active.png);
}
.whatis .item.active:nth-child(2) .icon-bg {
	background-image: url(../images/step2-active.png);
}
.whatis .item.active:nth-child(3) .icon-bg {
	background-image: url(../images/step3-active.png);
}
.whatis .item.active .icon:after {
	background-color: #8cc642;
	background-image: url(../images/green.png);
}
.whatis .item .icon:before {
	content: '';
	position: absolute;
	z-index: 1;
	left: -3px;
	right: -3px;
	top: -3px;
	bottom: -3px;
	background-color: #000;
	opacity: 0.05;
	border-radius: 50%;
}
.whatis .item .icon:after {
	content: '';
	width: 50px;
	height: 50px;
	position: relative;
	z-index: 2;
	background-color: #fff;
	border-radius: 50%;
	box-sizing: border-box;
	display: block;
	border: 2px solid #e7e8ec;
}
.whatis .item h3 {
	color: #2a2d32;
	font-size: 18px;
	font-family: 'open_sansbold';
	padding: 10px 0 20px 0;
}
.whatis .item h3.green {
	color: #8cc642;
}

/* MAP */
.map-area {
	margin-top: 40px;
}
.map-area .map {
	height: 400px;
	background-image: url(../images/map.jpg);
	z-index: 1;
	position: relative;
}
.map-area .map-marker {
	position: absolute;
	left: 45%;
	top: 40%;
	width: 92px;
	height: 110px;
	background-image: url(../images/map-marker.png);
	z-index: 10;
}


/* FOOTER */
.footer {
	background-color: #2a2d32;
}
.footer::before {
	content: '';
	position: absolute;
	top: 0;
	width: 100%;
	height: 2px;
	display: block;
	background-image: url(../images/blue.png);
	background-color: #53afbd;
}
.footer .block-inner {
	min-height: 420px;
}
.footer .column {
	position: absolute;
	left: 0;
	top: 0;
	width: 285px;
	border-right: 1px solid #26282d;
	bottom: 0;
	padding-top: 40px;
	color: #fff;
	font-size: 12px;
	font-family: 'open_sansbold';
}
.footer .column a {
	color: #7e848e;
	display: block;
	padding: 6px 0 7px 0;
	padding-left: 30px;
	line-height: 14px;
}
.footer .column a.decorated {
	padding-left: 44px;
	position: relative;
}
.footer .column a.decorated:before {
	content: '';
	position: absolute;
	left: 30px;
	top: 13px;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: #8cc642;
	background-image: url(../images/green.png);
}
.footer .column .separator {
	display: block;
	height: 22px;
}
.footer .column a:hover {
	background-color: #26282d;
}
.footer .column:nth-child(2) {
	left: 285px;
}
.footer .column:nth-child(3) {
	left: 570px;
	width: 285px;
}
.footer .column:nth-child(4) {
	right: 0;
	left: auto;
	width: 316px;
	border-right: 0;
}
.footer .column .caption {
	padding-left: 30px;
	padding-bottom: 21px;
}
.footer .developed {
	position: absolute;
	bottom: 52px;
	left: 30px;
	right: 0;
	font-family: 'open_sansregular';
	color: #d3d3d3;
}
.footer .developed a {
	display: block;
	width: 128px;
	height: 17px;
	background-image: url(../images/developer.png);
	padding: 0;
	margin-top: 5px;
}
.footer .developed a:hover {
	background-color: transparent;
}
.footer .phone {
	font-size: 24px;
	text-align: right;
	line-height:  24px;
	margin-bottom: 29px;
}
.footer .button-container {
	text-align: right;
}
.footer .button {
	display: inline-block;
	background-color: #8cc642;
	background-image: url(../images/green.png);
	border-radius: 3px;
	line-height: 50px;
	text-align: center;
	width: 170px;
	font-size: 14px;
	cursor: pointer;
}
.footer .button:hover {
	background-image: url(../images/blue.png);
	background-color: #53afbd;
}
.footer .contacts {
	font-family: 'open_sansregular';
	margin-top: 50px;
	padding-left: 30px;
	color: #7e848e;
	font-size: 13px;
}
.footer .contacts > div {
	padding: 6px 0;
}
.footer .contacts .fa {
	color: #8cc642;
	margin-right: 5px;
}
.footer .social-links {
	padding-left: 30px;
	margin-top: 10px;
}
.footer .fa.social {
	color: #fff;
	font-size: 18px;
	display: inline-block;
	padding-left: 0;
	margin-right: 15px;
}
.footer .fa.social:hover {
	background-color: transparent;
	color: #8cc642;
}


.dialog {
	background-color: #fff;
	position: fixed;
	z-index: 100;
	left: 50%;
	top: 50%;
	box-sizing: border-box;
	padding: 10px 35px 0 35px;
	display: none;
}
.dialog.order-dialog {
	width: 356px;
	height: 482px;
	margin-left: -178px;
	margin-top: -241px;
}
.dialog-mask {
	background-color: #000;
	position: fixed;
	z-index: 99;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	opacity: 0.7;
	display: none;
}
.dialog-title {
	text-align: center;
	color: #c0d23e;
	font-size: 20px;
	font-family: open_sansbold;
}
.dialog.order-dialog .order-form {
	width: 100%;
}