{template .topContent}
<div class="app-tags-top">
	<template topButtons>
</div>

{template .input}
<component class="KeywordsAutoComplete" arg-placeholder="{@enterKeywords}" onFocus="!focus" onEnter="onEnter">

{template .bottomContent}
<component class="Recommendations" onPick="onPickRecommendation">
