{template .topContent}
<div class="app-tags-top">
	<template topButtons>
</div>

{template .input}
<component class="KeywordsAutoComplete" arg-placeholder="{@enterKeywords}" opts="{#keywordsAutoCompleteOptions}" onFocus="!focus" onEnter="onEnter" onPick="onPickVariant">

{template .bottomContent}
<component class="Recommendations" onPick="onPickRecommendation">
