{template .main}
{template .controls}
<div class="@color-mark datatable-control"/>
<div class="@checkbox-container datatable-control">
	<::checkbox/>
</div>
<div class="@star datatable-control"/>

{template .hotMark as .name}
<div data-title="fuck" class="tooltiped datatable-tooltiped datatable-hot-tender" data-timeout="true"></div>

{template .count}
<span class="@count">
	{~count}
</span>
