{template .main}
<div class="@ input-container" scope>
	<input type="text" placeholder="{~placeholder}" eid="input">
	<:content/>
	<div class="@variants{$active?' shown'}" eid="variants">
		<div class="@variants-inner">
			{foreach $variants as &i => &variant}
				<:variant data="{&variant}" index="{&i}"/>
			{/foreach}
		</div>
	</div>
</div>

{template .variant}
<div class="@variant" data-index="{~index}" data-value="{~data['name']}">
	{~data['name']}
</div>