<div class="@{$className?' '+$className}{$shown?' ->>shown'}" style="left:{$left}px;top:{$top}px;" scope>
	<div class="@caption">
		{$caption}
	</div>
	<div class="@text">
		{switch $corrector}
			{case 'list'}
				{foreach $text as &item}
					<div class="@item">
						{&item}
					</div>
				{/foreach}
			{/case}
			{default}
				{$text}
			{/default}
		{/switch}
	</div>
</div>