<div class="app-tooltip-popup {$className}{$shown?' shown':''}" scope="1" style="left:{$left}px;top:{$top}px;">
	<div class="app-tooltip-popup-caption">
		{$caption}
	</div>
	<div class="app-tooltip-popup-text">
		{$text}
	</div>	
</div>