<div class="app-tooltip-popup{$className?' '+$className}{$shown?' ->>shown'}" style="left:{$left}px;top:{$top}px;" scope>
	<div class="app-tooltip-popup-caption">
		{$caption}
	</div>
	<div class="app-tooltip-popup-text">
		{switch $corrector}
			{case 'list'}
				{foreach $text as &item}
					<div class="app-tooltip-list-item">
						{&item}
					</div>
				{/foreach}
			{default}
				{$text}
		{/switch}
	</div>
</div>