<div class="@" scope>
	<div class="@inner">
		<a href="#main" class="@logo"></a>
		<a href="#main" role="main">Главная</a>
		<a href="#search" role="search">Поиск</a>
		<a href="#favorite" role="favorite">Избранное</a>
		<a href="#planzakupok" role="planzakupok">Планы закупок</a>
		<a href="#analytics" role="analytics">Аналитика</a>
	</div>
</div>