$imgsrc = ../images/arrows

.@ {
	$(br3 mt4 bo#e4eaf3 fs14)
    box-shadow: 0 0 6px #dde4ef;
}
.@header {
    $(rel bc#f5f8fc h42 br3 bob#d6e1f0)
}
.@prev,
.@next {
	$(abs w30 t b bg pointer z2)
}
.@prev {
	$(l19% png=left1)
}
.@next {
	$(r19% png=right1)
}
.@prev:hover,
.@next:hover {
	$opac7
}
.@month {
    $(abs c#5d687a lh42 l r bold center)
}
.@year {
	$(inb ml4)
}
.@content {
	$p7
}
.@day-names {
	$(lh30 bold nowrap c#6d798f)
}
.@days span,
.@day-names span {
	$(inb w9.2% center)
	margin: 2px 2.5%;
}
.@days span {
	$lh26
}
.@days span.another {
	$c#bbb
}
.@days span.marked {
    $(white br3 pointer)
    background-color: $red !important;
}
.@days span.marked:hover {
    $opac7
}
.@days span.current {
	$(bc#7e8fad white br3)
}