.app-popup-menu-outer-container.filters-menu .app-popup-menu-inner-container {
	border: none;
	overflow: auto;
}
.app-popup-menu-outer-container.filters-menu {
    margin-top: 3px;
    left: auto;
    right: 0;
    box-shadow: 0px 5px 14px 0px #404040;
    border: none;
    width: 278px;
}
.app-popup-menu-outer-container.filters-menu .app-popup-menu-button {
	padding-left: 30px;
}
.app-popup-menu-outer-container.filters-menu .app-ui-checkbox {
	background-color: transparent;
    border: none !important;
    background-image: url(../images/ui/checkbu.png);
    opacity: 0.4;
	position: absolute;
    left: 8px;
    top: 50%;
    margin-top: -7px;
}
.app-popup-menu-outer-container.filters-menu .app-ui-checkbox.checked {
    background-image: url(../images/ui/checkb.png);
    opacity: 1;
}