$imgsrc = 'buttons';

.@ {
	.@button:after {
	    content: 'Подписаться';
	}
	.@button.green-button:after {
	    content: 'Подписка оформлена';
	}
	.@button.green-button:hover {
		$(bc#b65f5f png=red)
	}
	.@button.green-button:hover:after {
	    content: 'Отписаться';
	}
}
.@title {
	$(rel fs16 c#4c546b p10_5)
}
.@head {
	$(bob#e4e4e4 pt5 bold lh32)
}
.@head-total {
	$(inb bob#b65f5f_2 ml10)
}
.@head-subscribed {
	$(fright bob#38986a_2 mr45)
}
.@table {
	$w100%;

	th {
    	$(normal c#8b8e97 p10_0 fs14 center box bob#e4e4e4)
	}
	td {
		$(vmid p6 bob#E0E6F3 lh14 box)
	}
	th:first-child,
	td:first-child {
		$(left wa pl6)
	}
	th:nth-child(2),
	td:nth-child(2) {
		$w160
	}
	th:nth-child(3),
	td:nth-child(3) {
		$w180
	}
	th:nth-child(4),
	td:nth-child(4) {
		$(w30 pl0 pr0)
	}
	td:first-child span {
		$(c#384767 fs16 pointer)

		&:hover {
			$c#6484ca	
		}
	}
}