$imgsrc = ../images/ui/

.app-dialog-mask {
	$(none fix rubber z699 bc#212D42)
    opacity: 0.65;	
}
.app-dialog-mask.shown {
	$block
}
.app-dialog {
	$(fix incenter br5 bgwhite none z700)
}
.app-dialog.shown {
	$block
}
.app-dialog.expanded {
    $(rubber br0 nosize nomargin)
}
.app-dialog-title {
    border-radius: 5px 5px 0px 0px;
    $(rel p12 c#4a5b6f z100 bob#e5e9f3 bc#f6f7f9 lh22 fs16 bold center)
}
.app-dialog-title:empty {
    $none
}
.app-dialog.expanded .app-dialog-title {
    $br0
}
.app-dialog-content {
	$rel $z2
    padding: 15px 20px;
}
.app-dialog-close,
.app-dialog-expand {
    $ (abs z102 r t10 mr8 wh23 bg pointer opac7 png = close-dialog)
}
.app-dialog-expand {
    $r20 $png = expand-dialog
    opacity: 0.65;
}
.app-dialog.expanded .app-dialog-expand {
    $png = minimize-dialog
}
.app-dialog-expand:hover,
.app-dialog-close:hover {
    $opac10
}