{template .main}
<div class="@mask {$shown?'->>shown'}" onClick="close"/>
<div class="@ {$expanded?'->>expanded'} {$shown?'->>shown'}" style="width:{$width}px;margin-left:{$marginLeft};margin-top:{$marginTop};" scope>
	{if ~closable}
		<div class="@close" onClick="close"/>
	{/if}
	{if ~expandable}
		<div class="@expand" onClick="expand"/>
	{/if}
	<div class="@title">
		{$title}
	</div>
	<div class="@content" style="{$height?'max-height:'+$height+'px;'}">
		<:content/>
	</div>
</div>
