{template .main}
<div class="@ input-container" scope>
	<input as="input" type="text" placeholder="{~placeholder}">
	<:content/>
	<div as="variants" class="@variants{$active?' ->> shown'}">
		<div class="@variants-inner">
			{foreach $variants as &i => &variant}
				<:variant props="{&variant}" index="{&i}"/>
			{/foreach}
		</div>
	</div>
</div>

{template .variant}
<div class="@variant" data-index="{~index}" data-value="{~name}">
	{~name}
</div>