<div class="@outer-container {~className}" scope>
	<div class="@inner-container" onClick="onClick" style="{~maxHeight?'max-height:'+~maxHeight+'px;'}">
		{foreach $buttons as &idx => &button}
			<div class="@button" data-value="{&button['value']}" data-index="{&idx}">
				{&button['name']}
				<template templ="content" item="{&button}">
			</div>
		{/foreach}
	</div>
</div>