{namespace .Tags}

{template .topButtons}
<div class="@top-buttons">
	<div class="@top-buttons-item">
		{@wordsAdded} {$count}
	</div>
	<div class="@top-buttons-item">
		<span class="@remove-all">
			{@removeAll}
		</span>
	</div>
</div>

{template .tag}
<div class="@item {.hasOption(~text)?'->>optioned'}">
	<span class="@item-text" data-text="{~text}">
		{.getProperTagText(~text)}
	</span>
	<span class="@remove"/>
</div>