.app-subscription ==s {

}
.app-subscription-title {
	$(rel fs16 c#4c546b p10_5)
}
.app-subscription-head {
	$(bob#e4e4e4 pt5 bold lh32)
}
.app-subscription-head-total {
	$(inb bob#b65f5f_2 ml10)
}
.app-subscription-head-subscribed {
	$(fright bob#38986a_2 mr45)
}
.app-subscription-table ==t {
	$w100%
}
~t th {
    $(normal c#8b8e97 p10_0 fs14 center box bob#e4e4e4)
}
~t td {
	$(vmid p6 bob#E0E6F3 lh14 box)
}
~t th:first-child,
~t td:first-child {
	$(left wa pl6)
}
~t th:nth-child(2),
~t td:nth-child(2) {
	$w160
}
~t th:nth-child(3),
~t td:nth-child(3) {
	$w180
}
~t th:nth-child(4),
~t td:nth-child(4) {
	$(w30 pl0 pr0)
}
~t td:first-child span {
	$(c#384767 fs16 pointer)
}
~t td:first-child span:hover {
	$c#6484ca
}

~s .subscr-button:after {
    content: 'Подписаться';
}
~s .subscr-button.green-button:after {
    content: 'Подписка оформлена';
}
~s .subscr-button.green-button:hover {
	$bc#b65f5f
  	background-image: url(../images/buttons/red.png);
}
~s .subscr-button.green-button:hover:after {
    content: 'Отписаться';
}