<div class="app-tabs" scope>
	{foreach $items as &i => &item}
		<div class="app-tabs-item{$activeTab==&i?' active'}" data-index="{&i}">
			{&item}
			<div class="app-tabs-remove"/>
		</div>
	{/foreach}
</div>