{template .content}
<component class="KeywordsPanel" cmpid="keywordsPanel">
<template templ="reset">
<div class="@" scope="1">
	<component class="SearchFormFilters">
	<div class="@content">
		<component class="KeywordsButton" panel="{^keywordsPanel}">
	</div>
</div>