<div class="input-container{~class?' '+~class}" scope>
	{if ~caption}
		<div class="input-caption">
			{~caption}
		</div>
	{/if}
	<Component class="{~controlClass}" name="{~controlProps['name']}" props="{~controlProps}"/>
</div>