<div class="app-input-container{~class?' '+~class}" scope="1">
	{if ~caption}
		<div class="app-input-caption">
			{~caption}
		</div>
	{/if}
	<control class="{~controlClass}" name="{~controlProps['name']}" props="{~controlProps}">
</div>