<div class="@mask {$shown?'->>shown'}" onClick="hide"/>
<div class="@ {$shown?'->>shown'}" scope>
	<div class="@close" onClick="close"/>
	<div class="@title">
		{@editing}
	</div>
	<component class="AutoComplete" opts="{#keywordsAutoCompleteOptions}" active="{$withAutoComplete}" onEnter="onEnter">
</div>