$imgsrc = ../images/ui

.@ {
    $(rel box bold c#6f7b9a fs14 bo#bec8da br3 pointer)
    box-shadow: inset 2px 1px 3px #d7deec;
}
.@.frameless {
    $(nob nosh)
}
.@:hover {
    $boc#68758c
    box-shadow: 1px 1px 6px #bfc7d8;
}
.@.frameless:hover {
    $nosh
}
.@:after {
    $(cnt abs r8 t50% mt-2 png=select-arrow w10 h5 opac8)
}
.@.frameless:after {
    $(rel ra ta inb vmid mt3 ml7)
}
.@:hover:after {
    $opac10
}
.@.active {
    $z10
}
.@.active:hover {
    $z15
}
.@value {
    $ (p10 nowrap ovh ell)    
}
.@.frameless .@value {
    $(inb vmid p5_0)
}
.@options {
    $(abs none t100% l-1 r-1 mt2 mah300 bgwhite bo#bec8da br4 p6 regular ova bsh_2_2_5_#e4e4e4)
}
.@.active .@options {
    $block 
}
.@option {
    $(lh13 fs13 p7 tovh pointer c#444C61)
}
.@option:hover {
    $ (c#5f6b7f bc#e7ecf4)
}
.@option.disabled {
    $c#a5aec0
    cursor: default;
}
.@option.disabled:hover {
    $bgwhite
}