$imgsrc = ../images/ui

.app-select {
    $(rel box bold c#6f7b9a fs14 bo#bec8da br3 pointer)
    box-shadow: inset 2px 1px 3px #d7deec;
}
.app-select.frameless {
    $(nob nosh)
}
.app-select:hover {
    $boc#68758c
    box-shadow: 1px 1px 6px #bfc7d8;
}
.app-select.frameless:hover {
    $nosh
}
.app-select:after {
    $(cnt abs r8 t50% mt-2 png=select-arrow w10 h5 opac8)
}
.app-select.frameless:after {
    $(rel ra ta inb vmid mt3 ml7)
}
.app-select:hover:after {
    $opac10
}
.app-select.active {
    $z10
}
.app-select.active:hover {
    $z15
}
.app-select-value {
    $ (p10 nowrap ovh ell)    
}
.app-select.frameless .app-select-value {
    $(inb vmid p5_0)
}
.app-select-options {
    $ (abs none t100% l-1 r-1 mt2 mah300 bgwhite bo#bec8da br4 p6 regular)
    overflow: auto;
    box-shadow: 2px 2px 5px #e4e4e4;
}
.app-select.active .app-select-options {
    $block 
}
.app-select-option {
    $( lh13 fs13 p7 tovh pointer c#444C61)
}
.app-select-option:hover {
    $ (c#5f6b7f bc#e7ecf4)
}
.app-select-option.disabled {
    $c#a5aec0
    cursor: default;
}
.app-select-option.disabled:hover {
    $bgwhite
}