.app-tooltip {
	width: 18px;
	height: 18px;
	background-color: #C1C6D6;
	line-height: 17px;
	$inb
	$round
	$pointer
	$bold
	$center
	$box
	$white
}
.app-tooltip:before {
	content: '!';
}
.app-tooltip:hover {
	background-color: $red;
}