.tooltip {
	$(wh18 bc#C1C6D6 lh17 inb round pointer bold center box white)
}
.tooltip:before {
	content: '!';
}
.tooltip:hover {
	background-color: $red;
}
.tooltip.question-tooltip {
	$(wh12 bc#68758E vtop fs8 lh12 ml2)
}
.tooltip.question-tooltip:before {
	content: '?';
}
.tooltip.question-tooltip:hover {
	$bc#515763
}