.input-container {
	margin: 5px 0;
}
.input-container.half-width {
	$inb $w49% $vtop
}
.input-container.half-width:nth-child(2n) {
	$ml2%
}
.input-caption {
	$c#6f7b9a $fs14 $lh14 $mb6
}
.input-container textarea,
.input-container input {
	$(p10 box w100% c#6f7b9a bold fs14 bo#bec8da br3)
    box-shadow: inset 2px 1px 3px #d7deec;
}
.input-container textarea:focus,
.input-container input:focus {
    $boc#38986a 
    box-shadow: 1px 1px 6px #93C7AE;
    outline: none;
}
.input-container input::-webkit-input-placeholder,
.input-container textarea::-webkit-input-placeholder {
	$(regular c#72798c)
}
.input-container input:focus::-webkit-input-placeholder,
.input-container textarea:focus::-webkit-input-placeholder {
	$(c#a5abbe)
}