/* DataTable */
.i0j{position:absolute;top:8px;margin-left:14px;max-width:1320px;left:24px;bottom:0px;right:8px;z-index:1;-webkit-user-select:none;-moz-user-select:none;}
.i05.i0u .i0j{left:336px;}
/* DataTableStandartRow */
.i0r{display:block;position:relative;padding-left:12px;padding-bottom:1px;cursor:pointer;}
.i0w{position:relative;color:#333A52;padding-top:7px;padding-bottom:5px;}
.i06{font-family:segoesemibold;line-height:17px;font-size:16px;color:#53638f;}
.i0r.i04 .i06{font-family:Segoe UI;}
/* SearchForm */
.i0v{position:absolute;z-index:2;top:7px;left:-300px;bottom:7px;width:330px;border-radius:4px;color:#222121;background-color:#444b57;}
.i05.i0u .i0v{left:7px;}
.i0y{height:37px;line-height:39px;padding-left:31px;font-family:ptsansbold;font-size:14px;box-sizing:border-box;color:#edf0f4;border-bottom:1px solid #3e4552;background-image:linear-gradient(to bottom,#647188,#4d5768);border-radius:4px 4px 0 0;}
.i0y:before{content:'';display:inline-block;width:11px;height:11px;margin-right:8px;background-image:url(../images/searchform/search.png);}
.i01{position:absolute;background-image:none !important;top:0;right:0;bottom:0;cursor:pointer;width:30px;z-index:25;background-color:#6279A7;border-radius:0 3px 3px 0;height:auto;}
.i01:hover{background-color:#6E88BD;}
.i01:after{content:'Расширенный поиск';transform:rotate(-90deg);font-size:16px;color:#fff;line-height:20px;position:absolute;right:-83px;top:90px;width:200px;font-family:ptsansbold;}
.i05.i0u .i01{display:none;}
.i0k{transform:rotate(180deg);display:block;position:absolute;right:0;top:7px;background-repeat:no-repeat;cursor:pointer;z-index:26;width:23px;height:23px;background-image:url(../images/searchform/close.png);background-position:100% 50%;transition:all 0.2s ease-out;}
.i05.i0u .i0k{transform:rotate(0deg);right:10px;}
.i0g{position:absolute;right:34px;top:5px;padding-left:22px;line-height:16px;height:25px;width:0px;font-size:14px;font-family:ptsansbold;background-repeat:no-repeat;cursor:pointer;white-space:nowrap;z-index:10;background-image:url(../images/searchform/clear.png;c#5c606a)    background-position:100% 50%;}
.i0g .i0b{display:none;position:absolute;color:#fff;right:0;line-height:36px;top:50%;margin-top:-18px;background-color:#D35655;padding:0 10px 0 11px;}
.i0g:hover .i0b{display:block;}
.i0g.i08 .i0b{display:none;}
.i0g.i08{width:134px;height:36px;top:0;background-color:#D35655;}
.i0g .i0d{display:none;white-space:nowrap;color:#fff;text-align:right;line-height:36px;border-top-left-radius:4px;cursor:auto;}
.i0g .i0d i{margin-left:15px;}
.i0g.i08 .i0d{display:block;}
.i0g.i08 .i0d i{line-height:36px;cursor:pointer;background-color:#B35050;font-style:normal;padding:9px 15px;}
/* SearchFormCreateFilterMenu */
.i0o.i02 .i0f{border:none;}
.i0o.i02{margin-top:3px;-webkit-box-shadow:0px 5px 14px 0px rgba(0,0,0,0.75);-moz-box-shadow:0px 5px 14px 0px rgba(0,0,0,0.75);box-shadow:0px 5px 14px 0px rgba(0,0,0,0.75);border:none;width:278px;}
/* SearchFormFilterMenu */
.i0o.i0i .i0f{border:none;overflow:auto;}
.i0o.i0i{margin-top:3px;left:auto;right:0;box-shadow:0px 5px 14px 0px #404040;border:none;width:278px;}
.i0o.i0i .i0h{padding-left:30px;}
.i0o.i0i .i0x{background-color:transparent;border:none !important;background-image:url(../images/ui/checkbu.png);opacity:0.4;position:absolute;left:8px;top:50%;margin-top:-7px;}
.i0o.i0i .i0x.i0z{background-image:url(../images/ui/checkb.png);opacity:1;}
/* SearchFormFilters */
.i0l{position:relative;margin-top:12px;margin-left:26px;margin-right:26px;height:38px;line-height:38px;font-size:14px;z-index:12;}
.i0p{position:absolute;z-index:2;left:0;right:55%;top:0;bottom:0;background-color:#6e85c5;background-image:url(../images/searchform/button-bg.png);background-position:0 0;cursor:pointer;color:#fff;border-radius:4px 0px 0px 4px;-moz-border-radius:4px 0px 0px 4px;-webkit-border-radius:4px 0px 0px 4px;text-align:center;transition:right 0.3s;-moz-transition:right 0.3s;-webkit-transition:right 0.3s;border-right:1px solid #3b4451;}
.i0p:hover{background-position:0 100%;}
.i09{position:absolute;left:45%;right:0px;top:0px;bottom:0px;background-color:#eaeef4;color:#51608b;padding-left:12px;cursor:pointer;border-radius:0px 4px 4px 0px;}
.i0c{width:100px;position:absolute;left:0;top:0;bottom:0;text-align:center;}
.i00{position:absolute;right:4px;top:4px;bottom:4px;width:42px;background-color:#4e6a9b;border-radius:4px;background-image:url(../images/searchform/button-bg.png);background-position:0% 12%;}
.i00:before{content:'';position:absolute;top:0;left:0;right:0;bottom:0;background-image:url(../images/searchform/arrow.png);background-position:85% 50%;background-repeat:no-repeat;}
.i0e{font-family:ptsansbold;line-height:30px;display:block;text-align:center;font-size:14px;cursor:pointer;color:#ffffff;box-sizing:border-box;padding-right:13px;}
.i0a{display:none;}
.i0l.i0m .i0a{display:block;height:30px;background-image:url(../images/searchform/plus.png);background-position:50% 50%;background-repeat:no-repeat;}
.i0s{position:absolute;top:48px;right:0;height:26px;padding:0 6px;line-height:26px;background-color:#539e64;color:#ffffff;cursor:pointer;white-space:nowrap;overflow:hidden;cursor:pointer;text-overflow:ellipsis;font-family:ptsansbold;border-radius:5px;}
.i0s:hover{background-color:#499059;}
.i07{max-width:170px;position:absolute;top:52px;left:0;line-height:18px;color:#eff1f5;cursor:default;white-space:nowrap;overflow:hidden;cursor:pointer;text-overflow:ellipsis;padding-right:20px;}
.i07:before{content:'';border-bottom:1px dashed #a9adb3;position:absolute;bottom:0;left:0;right:20px;}
/* Input */
.i0t{margin:5px 0;}
.i0t.i0n{display:inline-block;width:49%;vertical-align:top;}
.i0t.i0n:nth-child(2n){margin-left:2%;}
.i03{color:#6f7b9a;font-size:14px;line-height:14px;margin-bottom:6px;}
.i0t textarea,.i0t input{padding:10px;box-sizing:border-box;width:100%;background-color:transparent;color:#6f7b9a;font-family:ptsansbold;font-size:14px;border:1px solid #bec8da;border-radius:3px;box-shadow:inset 2px 1px 3px #d7deec;}
.i0t textarea:focus,.i0t input:focus{border-color:#38986a;box-shadow:1px 1px 6px #93C7AE;outline:none;}
/* Select */
.i0q{position:relative;box-sizing:border-box;font-family:ptsansbold;color:#6f7b9a;font-size:14px;border:1px solid #bec8da;border-radius:3px;cursor:pointer;box-shadow:inset 2px 1px 3px #d7deec;}
.i0q:hover{border-color:#68758c;box-shadow:1px 1px 6px #bfc7d8;}
.i0q.i08{z-index:10;}
.i0q.i08:hover{z-index:15;}
.inj{padding:10px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.in5{position:absolute;display:none;top:100%;left:-1px;right:-1px;margin-top:2px;max-height:300px;background-color:#fff;border:1px solid #bec8da;border-radius:4px;padding:6px;font-family:ptsans;overflow:auto;box-shadow:2px 2px 5px #e4e4e4;}
.i0q.i08 .in5{display:block;}
.inu{line-height:13px;font-size:13px;padding:7px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;cursor:pointer;color:#444C61;}
.inu:hover{color:#5f6b7f;background-color:#e7ecf4;}
.inu.inr{color:#a5aec0;cursor:default;}
.inu.inr:hover{background-color:#fff;}
/* Submit */
.inw{margin-top:15px;}
/* Support */
.in6.in4{position:absolute;bottom:20px;right:20px;width:235px;}
/* App */
*::-webkit-scrollbar{width:10px;height:10px;}
 *::-webkit-scrollbar-button{display:none;}
 *::-webkit-scrollbar-track{background-color:#bec5cf;}
 *::-webkit-scrollbar-track-piece{background-color:#bec5cf;}
 *::-webkit-scrollbar-thumb{min-height:35px;min-width:35px;background-color:#45546d;cursor:pointer;}
 *::-webkit-scrollbar-thumb:hover{background-color:#60708b;}
 *::-webkit-scrollbar-corner{background-color:#bec5cf;}
*::-webkit-resizer{background-color:#bec5cf;}
@font-face{font-family:'ptsans';src:url('../fonts/ptsans.woff2') format('woff2'),url('../fonts/ptsans.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'ptsansbold';src:url('../fonts/ptsansbold.woff2') format('woff2'),url('../fonts/ptsansbold.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'segoesemibold';src:url('../fonts/seguisb.woff2') format('woff2'),url('../fonts/seguisb.woff') format('woff');font-weight:normal;font-style:normal;}
body{padding:0px;margin:0px;font-family:ptsans;color:#505b6e;}
h1{font-weight:normal;}
a{cursor:pointer;color:#505b6e;text-decoration:none;}
textarea{resize:none;}
.inv{position:absolute;padding:0px;z-index:1;top:43px;left:0;right:0;bottom:0;}
.iny{font-family:ptsansbold;}
.in6{position:relative;display:block;line-height:38px;max-height:38px;min-height:38px;font-size:14px;background-color:#5c729e;color:#fff;font-family:ptsansbold;border-radius:3px;text-align:center;cursor:pointer;box-sizing:border-box;background-image:url(../images/buttons/blue.png);background-position:0 0;}
.in6:hover{background-position:0 100% !important;}
.in6.in1{background-color:#38986a;background-image:url(../images/buttons/green.png);}
.in6.ink{background-color:#b65f5f;background-image:url(../images/buttons/red.png);}
.in6.ing{background-image:none !important;background-color:#e1e1e2;color:#40434e;border:1px solid #b7b6b6;line-height:36px;}
.in6.ing:hover{border:1px solid #919498;background-color:#d3d5dd;color:#2c3b5a;}
.in6.inb{background-image:none !important;color:#535f77;background-color:#fff;border:1px solid #a6b3cb;line-height:36px;font-family:ptsans;}
.in6.inb:hover{border:1px solid #677CA7;color:#3D485F;}
.in6.inr{background-color:#aaa;}
.in8{float:left;}
.ind{float:right;}
/* AuthForm */
.ino{font-size:50px;text-align:center;line-height:50px;}
.in2{margin-top:20px;}
/* OrderCallForm */
.inf .ini{display:inline-block;width:140px;margin-right:12px;}
.inf textarea{height:100px;}
/* TopMenu */
.inh{position:fixed;top:0;left:0;right:0;z-index:2;height:42px;line-height:42px;background-color:#fff;border-bottom:1px solid #B6BFCE;box-shadow:0 1px 6px #D1D8E2;}
.inx{position:relative;}
body.inz .inx{width:1350px;margin:auto;}
.inh a{position:relative;display:block;float:left;height:38px;padding-left:35px;padding-right:20px;background-repeat:no-repeat;color:#4c546b;font-size:14px;background-position:10px 54%;border-bottom:4px solid #ffffff;}
.inh a.inl{width:148px;height:42px;box-sizing:border-box;background-image:url(../images/topmenu/logo.png);background-position:50% 64%;}
.inh a:nth-child(2){background-image:url(../images/topmenu/main.png);}
.inh a:nth-child(3){background-image:url(../images/topmenu/search.png);}
.inh a:nth-child(4){background-image:url(../images/topmenu/favorite.png);}
.inh a:nth-child(5){background-image:url(../images/topmenu/planzakupok.png);}
.inh a:nth-child(6){background-image:url(../images/topmenu/analytics.png);}
.inh a.i08{color:#4C546B;font-family:ptsansbold;border-bottom:4px solid #4C546B !important;}
/* Calendar */
.inp{border-radius:3px;margin-top:4px;border:1px solid #e4eaf3;font-size:14px;box-shadow:0 0 6px #dde4ef;}
.in9{position:relative;background-color:#f5f8fc;height:42px;border-radius:3px;border-bottom:1px solid #d6e1f0;}
.inc,.in0{position:absolute;width:30px;top:0;bottom:0;background-position:center center;background-repeat:no-repeat;cursor:pointer;z-index:2;}
.inc{left:19%;background-image:url(../images/arrows/left1.png);}
.in0{right:19%;background-image:url(../images/arrows/right1.png);}
.inc:hover,.in0:hover{opacity:0.7;}
.ine{position:absolute;color:#5d687a;line-height:42px;left:0;right:0;font-family:ptsansbold;text-align:center;}
.ina{display:inline-block;margin-left:4px;}
.inm{padding:7px;}
.ins{line-height:30px;font-family:ptsansbold;white-space:nowrap;color:#6d798f;}
.in7 span,.ins span{display:inline-block;width:9.2%;text-align:center;margin:2px 2.5%;}
.in7 span{line-height:26px;}
.in7 span.int{color:#bbb;}
.in7 span.inn{color:#fff;border-radius:3px;cursor:pointer;background-color:#b65f5f !important;}
.in7 span.inn:hover{opacity:0.7;}
.in7 span.in3{background-color:#7e8fad;color:#fff;border-radius:3px;}
/* Checkbox */
.i0x{float:left;display:block;background-position:center center;background-repeat:no-repeat;margin-right:7px;cursor:pointer;width:14px;height:14px;border:1px solid #76849C;background-color:#eaeef3;border-radius:3px;}
.i0x.i0z{border-color:#7E9CCA;background-color:#fff;background-image:url(../images/ui/checkb.png);}
/* Dialog */
.inq{display:none;position:fixed;left:0;right:0;top:0;bottom:0;z-index:699;background-color:#212D42;opacity:0.65;}
.inq.izj{display:block;}
.iz5{position:fixed;left:50%;top:50%;border-radius:5px;background-color:#fff;display:none;z-index:700;}
.iz5.izj{display:block;}
.iz5.izu{left:0;right:0;top:0;bottom:0;border-radius:0px;width:auto !important;height:auto !important;margin-left:0 !important;margin-top:0 !important;}
.izr{border-radius:5px 5px 0px 0px;position:relative;padding:12px;color:#4a5b6f;z-index:100;border-bottom:1px solid #e5e9f3;background-color:#f6f7f9;line-height:22px;font-size:16px;font-family:ptsansbold;text-align:center;}
.izr:empty{display:none;}
.iz5.izu .izr{border-radius:0px;}
.izw{position:relative;z-index:2;padding:15px 20px;}
.iz6,.iz4{position:absolute;z-index:102;right:0;top:10px;margin-right:8px;width:23px;height:23px;background-position:center center;background-repeat:no-repeat;cursor:pointer;opacity:0.7;background-image:url(../images/ui/close-dialog.png);}
.iz4{right:20px;background-image:url(../images/ui/expand-dialog.png);opacity:0.65;}
.iz5.izu .iz4{background-image:url(../images/ui/minimize-dialog.png);}
.iz4:hover,.iz6:hover{opacity:1;}
/* PopupMenu */
.i0o{position:absolute;z-index:500;width:200px;margin-top:1px;text-align:left;top:100%;border-radius:3px;background-color:#fff;border-left:1px solid #6C7992;border-right:1px solid #6C7992;max-height:0px;overflow:hidden;transition:all 0.2s;}
.i0f{position:absolute;left:0;right:0;bottom:0;border-top:1px solid #6C7992;border-bottom:1px solid #6C7992;background-color:#fff;border-radius:3px;padding:5px 0;}
.i0h{position:relative;padding-left:15px;line-height:30px;font-size:14px;color:#424b57;cursor:pointer;white-space:nowrap;overflow:hidden;height:30px;}
/* Tooltip */
.izv{width:18px;height:18px;background-color:#C1C6D6;line-height:17px;display:inline-block;border-radius:50%;cursor:pointer;font-family:ptsansbold;text-align:center;box-sizing:border-box;color:#fff;}
.izv:before{content:'!';}
.izv:hover{background-color:#b65f5f;}
/* TooltipPopup */
.izy{position:fixed;background-color:#fff;box-sizing:border-box;display:none;z-index:750;border-radius:3px;border:1px solid #C1C7D2;font-size:14px;color:#47536c;line-height:20px;min-width:200px;max-width:400px;}
.izy.izj{display:block;}
.iz1{height:35px;line-height:36px;border-bottom:1px solid #e5e9f3;padding-left:43px;background-repeat:no-repeat;color:#4a5b6f;font-size:16px;background-color:#f7f8f9;font-family:ptsansbold;background-image:url(../images/tooltips/info.png);background-position:10px center;}
.iz1:empty{display:none;}
.izk{padding:15px 18px;}
/* style */
.izg{position:absolute;left:50%;top:50%;width:300px;height:300px;margin-left:-150px;margin-top:-150px;}
/* Error404 */
.izb{position:fixed;left:50%;top:50%;width:500px;margin-left:-250px;margin-top:-160px;text-align:center;}
.iz8{font-size:180px;line-height:180px;font-weight:bold;color:#AAAAAA;}
.izd{font-size:18px;margin-top:10px;}
/* Main */
.izo{position:relative;width:1350px;margin:auto;}
.izo table{width:100%;}
.iz2 td{vertical-align:top;}
.iz2 .izf{width:354px;padding:12px;}
.izi{position:relative;min-height:180px;border-radius:3px;font-size:14px;padding:49px 20px 12px 20px;box-shadow:0 0 6px #c1c5d1;}
.izh{position:absolute;left:0;right:0;top:0;line-height:39px;height:37px;color:#edf0f4;background-color:#51648d;padding-left:43px;font-family:ptsansbold;background-repeat:no-repeat;background-image:url(../images/mainpage/person-icon.png);border-radius:3px 3px 0 0;background-position:17px 50%;}
.izf > div:last-child{position:relative;min-height:180px;border-radius:3px;font-size:14px;padding:49px 20px 12px 20px;box-shadow:0 0 6px #c1c5d1;}
.izx{margin-top:27px;font-size:16px;color:#4c546b;padding-bottom:7px;}
/* UserInfo */
.izz{margin-top:10px;}
.izz td{line-height:14px;padding:6px 0;vertical-align:middle;}
.izz td:first-child{width:55%;color:#7f828a;}
.izz td:last-child{width:45%;color:#4c546b;}
.izz td:last-child.red{color:#cd380a;font-family:ptsansbold;}
.izf .in6{width:140px;display:inline-block;margin-top:10px;}
.in6.izl{margin-right:10px;}
.izp{color:#4c546b;font-size:14px;padding-top:5px;}
.iz9{position:relative;padding-top:5px;color:#4c546b;font-size:14px;line-height:14px;padding-bottom:5px;}
.izc{position:absolute;right:0;top:5px;width:120px;}
.iz0{font-size:12px;color:#8b8e97;padding-top:7px;}
.ize{font-size:14px;color:#536b9f;line-height:14px;margin-bottom:3px;display:inline-block;border-bottom:1px solid #c3ccde;}
.iz9 small{color:#8b8e97;font-size:12px;}
/* Search */