/* DataTable */
.cqm{position:absolute;top:8px;margin-left:14px;max-width:1320px;left:24px;bottom:0;right:8px;z-index:1;-webkit-user-select:none;-moz-user-select:none;}
.cq0.cqy .cqm{left:336px;}
/* DataTableRow */
.cqz{display:block;position:relative;padding-left:40px;padding-bottom:1px;cursor:pointer;color:#333A52;}
.cqz:after{content:'';position:absolute;left:0;right:0;bottom:0;height:1px;background-color:#c3cdd8;z-index:2;}
.cqe .cqz{padding-left:5px;padding-right:5px;}
.cqe .cq7{display:none !important;}
.cqv{position:absolute;z-index:2;display:none;left:0;top:0;bottom:0;width:9px;}
.cqh,.cqc{position:absolute;left:0;width:40px;z-index:1;}
.cqh{top:35px;bottom:0;background-image:url(../images/datatable/star.png);background-repeat:no-repeat;background-position:50% 5px;}
.cqh.cqx{top:30px;background-image:url(../images/datatable/star2.png);}
.cqc{top:0;height:35px;}
.cqc .cqg{margin:auto;margin-top:7px;float:none;}
.cqk{display:block;float:left;margin-right:5px;min-width:10px;height:12px;color:#4B5569;border:1px solid #4B5569;border-radius:2px;text-align:center;line-height:12px;font-size:13px;padding-left:2px;padding-right:2px;margin-top:3px;}
/* DataTableStandartRow */
.cq9{position:relative;padding-top:7px;padding-bottom:7px;height:20px;white-space:nowrap;overflow:hidden;}
.cqu{font-family:segoesemibold;line-height:17px;font-size:16px;color:#53638f;padding-right:220px;}
.cq3.cqj .cqu{font-family:Segoe UI;}
.cqn{position:absolute;right:5px;top:34px;width:200px;text-align:right;font-family:ptsansbold;color:#303B58;font-size:16px;}
.cq6{display:inline-block;padding-right:10px;padding-left:10px;position:relative;vertical-align:top;}
.cq6:first-child{font-family:ptsansbold;padding-left:0;padding-right:4px;}
.cq6:after{content:'';position:absolute;right:0;top:4px;bottom:2px;width:1px;background-color:#8D9AB1;}
.cq6:first-child:after,.cq6:last-child:after{display:none;}
.cq5{margin-top:10px;white-space:nowrap;height:18px;padding-bottom:6px;}
/* SearchForm */
.cqd{position:absolute;z-index:2;top:7px;left:-300px;bottom:7px;width:330px;border-radius:4px;color:#222121;background-color:#444b57;}
.cq0.cqy .cqd{left:7px;}
.cqp{height:37px;line-height:39px;padding-left:31px;font-family:ptsansbold;font-size:14px;box-sizing:border-box;color:#edf0f4;border-bottom:1px solid #3e4552;background-image:linear-gradient(to bottom,#647188,#4d5768);border-radius:4px 4px 0 0;}
.cqp:before{content:'';display:inline-block;width:11px;height:11px;margin-right:8px;background-image:url(../images/searchform/search.png);}
.cqs{position:absolute;background-image:none !important;top:0;right:0;bottom:0;cursor:pointer;width:30px;z-index:25;background-color:#6279A7;border-radius:0 3px 3px 0;height:auto;}
.cqs:hover{background-color:#6E88BD;}
.cqs:after{content:'Расширенный поиск';transform:rotate(-90deg);font-size:16px;color:#fff;line-height:20px;position:absolute;right:-83px;top:90px;width:200px;font-family:ptsansbold;}
.cq0.cqy .cqs{display:none;}
.cqf{transform:rotate(180deg);display:block;position:absolute;right:0;top:7px;background-repeat:no-repeat;cursor:pointer;z-index:26;width:23px;height:23px;background-image:url(../images/searchform/close.png);background-position:100% 50%;transition:all 0.2s ease-out;}
.cq0.cqy .cqf{transform:rotate(0deg);right:10px;}
.cqt{position:absolute;right:34px;top:5px;padding-left:22px;line-height:16px;height:25px;width:0;font-size:14px;font-family:ptsansbold;background-repeat:no-repeat;cursor:pointer;white-space:nowrap;z-index:10;background-image:url(../images/searchform/clear.png);color:#5c606a;background-position:100% 50%;}
.cqt .cqq{display:none;position:absolute;color:#fff;right:0;line-height:36px;top:50%;margin-top:-18px;background-color:#D35655;padding:0 10px 0 11px;}
.cqt:hover .cqq{display:block;}
.cqt.cqx .cqq{display:none;}
.cqt.cqx{width:134px;height:36px;top:0;background-color:#D35655;}
.cqt .cqr{display:none;white-space:nowrap;color:#fff;text-align:right;line-height:36px;border-top-left-radius:4px;cursor:auto;}
.cqt .cqr i{margin-left:15px;}
.cqt.cqx .cqr{display:block;}
.cqt.cqx .cqr i{line-height:36px;cursor:pointer;background-color:#B35050;font-style:normal;padding:9px 15px;}
/* SearchFormCreateFilterMenu */
.cqw.cq4 .cqa{border:none;}
.cqw.cq4{margin-top:3px;-webkit-box-shadow:0 5px 14px 0 rgba(0,0,0,0.75);-moz-box-shadow:0 5px 14px 0 rgba(0,0,0,0.75);box-shadow:0 5px 14px 0 rgba(0,0,0,0.75);border:none;width:278px;}
/* SearchFormFilterMenu */
.cqw.cqo .cqa{border:none;overflow:auto;}
.cqw.cqo{margin-top:3px;left:auto;right:0;box-shadow:0 5px 14px 0 #404040;border:none;width:278px;}
.cqw.cqo .cqi{padding-left:30px;}
.cqw.cqo .cqg{background-color:transparent;border:none !important;background-image:url(../images/ui/checkbu.png);opacity:0.4;position:absolute;left:8px;top:50%;margin-top:-7px;}
.cqw.cqo .cqg.cq1{background-image:url(../images/ui/checkb.png);opacity:1;}
/* SearchFormFilters */
.cqb{position:relative;margin-top:12px;margin-left:26px;margin-right:26px;height:38px;line-height:38px;font-size:14px;z-index:12;}
.cq2{position:absolute;z-index:2;left:0;right:55%;top:0;bottom:0;background-color:#6e85c5;background-image:url(../images/searchform/button-bg.png);background-position:0 0;cursor:pointer;color:#fff;border-radius:4px 0 0 4px;-moz-border-radius:4px 0 0 4px;-webkit-border-radius:4px 0 0 4px;text-align:center;transition:right 0.3s;-moz-transition:right 0.3s;-webkit-transition:right 0.3s;border-right:1px solid #3b4451;}
.cq2:hover{background-position:0 100%;}
.cq8{position:absolute;left:45%;right:0;top:0;bottom:0;background-color:#eaeef4;color:#51608b;padding-left:12px;cursor:pointer;border-radius:0 4px 4px 0;}
.cql{width:100px;position:absolute;left:0;top:0;bottom:0;text-align:center;}
.c4m{position:absolute;right:4px;top:4px;bottom:4px;width:42px;background-color:#4e6a9b;border-radius:4px;background-image:url(../images/searchform/button-bg.png);background-position:0 12%;}
.c4m:before{content:'';position:absolute;top:0;left:0;right:0;bottom:0;background-image:url(../images/searchform/arrow.png);background-position:85% 50%;background-repeat:no-repeat;}
.c40{font-family:ptsansbold;line-height:30px;display:block;text-align:center;font-size:14px;cursor:pointer;color:#ffffff;box-sizing:border-box;padding-right:13px;}
.c4y{display:none;}
.cqb.c4z .c4y{display:block;height:30px;background-image:url(../images/searchform/plus.png);background-position:50% 50%;background-repeat:no-repeat;}
.c4e{position:absolute;top:48px;right:0;height:26px;padding:0 6px;line-height:26px;background-color:#539e64;color:#ffffff;cursor:pointer;white-space:nowrap;overflow:hidden;cursor:pointer;text-overflow:ellipsis;font-family:ptsansbold;border-radius:5px;}
.c4e:hover{background-color:#499059;}
.c47{max-width:170px;position:absolute;top:52px;left:0;line-height:18px;color:#eff1f5;cursor:default;white-space:nowrap;overflow:hidden;cursor:pointer;text-overflow:ellipsis;padding-right:20px;}
.c47:before{content:'';border-bottom:1px dashed #a9adb3;position:absolute;bottom:0;left:0;right:20px;}
/* Input */
.c4v{margin:5px 0;}
.c4v.c4h{display:inline-block;width:49%;vertical-align:top;}
.c4v.c4h:nth-child(2n){margin-left:2%;}
.c4c{color:#6f7b9a;font-size:14px;line-height:14px;margin-bottom:6px;}
.c4v textarea,.c4v input{padding:10px;box-sizing:border-box;width:100%;background-color:transparent;color:#6f7b9a;font-family:ptsansbold;font-size:14px;border:1px solid #bec8da;border-radius:3px;box-shadow:inset 2px 1px 3px #d7deec;}
.c4v textarea:focus,.c4v input:focus{border-color:#38986a;box-shadow:1px 1px 6px #93C7AE;outline:none;}
/* Select */
.c4x{position:relative;box-sizing:border-box;font-family:ptsansbold;color:#6f7b9a;font-size:14px;border:1px solid #bec8da;border-radius:3px;cursor:pointer;box-shadow:inset 2px 1px 3px #d7deec;}
.c4x:hover{border-color:#68758c;box-shadow:1px 1px 6px #bfc7d8;}
.c4x.cqx{z-index:10;}
.c4x.cqx:hover{z-index:15;}
.c4g{padding:10px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.c4k{position:absolute;display:none;top:100%;left:-1px;right:-1px;margin-top:2px;max-height:300px;background-color:#fff;border:1px solid #bec8da;border-radius:4px;padding:6px;font-family:ptsans;overflow:auto;box-shadow:2px 2px 5px #e4e4e4;}
.c4x.cqx .c4k{display:block;}
.c49{line-height:13px;font-size:13px;padding:7px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;cursor:pointer;color:#444C61;}
.c49:hover{color:#5f6b7f;background-color:#e7ecf4;}
.c49.c4u{color:#a5aec0;cursor:default;}
.c49.c4u:hover{background-color:#fff;}
/* Submit */
.c43{margin-top:15px;}
/* CalendarFavorites */
.c4j{padding-bottom:20px;min-height:300px;}
/* Support */
.c4n.c46{position:absolute;bottom:20px;right:20px;width:235px;}
/* App */
*::-webkit-scrollbar{width:10px;height:10px;}
 *::-webkit-scrollbar-button{display:none;}
 *::-webkit-scrollbar-track{background-color:#bec5cf;}
 *::-webkit-scrollbar-track-piece{background-color:#bec5cf;}
 *::-webkit-scrollbar-thumb{min-height:35px;min-width:35px;background-color:#45546d;cursor:pointer;}
 *::-webkit-scrollbar-thumb:hover{background-color:#60708b;}
 *::-webkit-scrollbar-corner{background-color:#bec5cf;}
*::-webkit-resizer{background-color:#bec5cf;}
@font-face{font-family:'ptsans';src:url('../fonts/ptsans.woff2') format('woff2'),url('../fonts/ptsans.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'ptsansbold';src:url('../fonts/ptsansbold.woff2') format('woff2'),url('../fonts/ptsansbold.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'segoesemibold';src:url('../fonts/seguisb.woff2') format('woff2'),url('../fonts/seguisb.woff') format('woff');font-weight:normal;font-style:normal;}
body{padding:0;margin:0;font-family:ptsans;color:#505b6e;}
h1{font-weight:normal;}
a{cursor:pointer;color:#505b6e;text-decoration:none;}
textarea{resize:none;}
.c45{position:absolute;padding:0;z-index:1;top:43px;left:0;right:0;bottom:0;}
.c4d{font-family:ptsansbold;}
.c4n{position:relative;display:block;line-height:38px;max-height:38px;min-height:38px;font-size:14px;background-color:#5c729e;color:#fff;font-family:ptsansbold;border-radius:3px;text-align:center;cursor:pointer;box-sizing:border-box;background-image:url(../images/buttons/blue.png);background-position:0 0;}
.c4n:hover{background-position:0 100% !important;}
.c4n.c4p{background-color:#38986a;background-image:url(../images/buttons/green.png);}
.c4n.c4s{background-color:#b65f5f;background-image:url(../images/buttons/red.png);}
.c4n.c4f{background-image:none !important;background-color:#e1e1e2;color:#40434e;border:1px solid #b7b6b6;line-height:36px;}
.c4n.c4f:hover{border:1px solid #919498;background-color:#d3d5dd;color:#2c3b5a;}
.c4n.c4t{background-image:none !important;color:#535f77;background-color:#fff;border:1px solid #a6b3cb;line-height:36px;font-family:ptsans;}
.c4n.c4t:hover{border:1px solid #677CA7;color:#3D485F;}
.c4n.c4u{background-color:#aaa;}
.c4q{float:left;}
.c4r{float:right;}
/* AuthForm */
.c4w{font-size:50px;text-align:center;line-height:50px;}
.c44{margin-top:20px;}
/* OrderCallForm */
.c4a .c4o{display:inline-block;width:140px;margin-right:12px;}
.c4a textarea{height:100px;}
/* TopMenu */
.c4i{position:fixed;top:0;left:0;right:0;z-index:2;height:42px;line-height:42px;background-color:#fff;border-bottom:1px solid #B6BFCE;box-shadow:0 1px 6px #D1D8E2;}
.c41{position:relative;}
body.c4b .c41{width:1350px;margin:auto;}
.c4i a{position:relative;display:block;float:left;height:38px;padding-left:35px;padding-right:20px;background-repeat:no-repeat;color:#4c546b;font-size:14px;background-position:10px 54%;border-bottom:4px solid #ffffff;}
.c4i a.c42{width:148px;height:42px;box-sizing:border-box;background-image:url(../images/topmenu/logo.png);background-position:50% 64%;}
.c4i a:nth-child(2){background-image:url(../images/topmenu/main.png);}
.c4i a:nth-child(3){background-image:url(../images/topmenu/search.png);}
.c4i a:nth-child(4){background-image:url(../images/topmenu/favorite.png);}
.c4i a:nth-child(5){background-image:url(../images/topmenu/planzakupok.png);}
.c4i a:nth-child(6){background-image:url(../images/topmenu/analytics.png);}
.c4i a.cqx{color:#4C546B;font-family:ptsansbold;border-bottom:4px solid #4C546B !important;}
/* Calendar */
.c48{border-radius:3px;margin-top:4px;border:1px solid #e4eaf3;font-size:14px;box-shadow:0 0 6px #dde4ef;}
.c4l{position:relative;background-color:#f5f8fc;height:42px;border-radius:3px;border-bottom:1px solid #d6e1f0;}
.c2m,.c20{position:absolute;width:30px;top:0;bottom:0;background-position:center center;background-repeat:no-repeat;cursor:pointer;z-index:2;}
.c2m{left:19%;background-image:url(../images/arrows/left1.png);}
.c20{right:19%;background-image:url(../images/arrows/right1.png);}
.c2m:hover,.c20:hover{opacity:0.7;}
.c2y{position:absolute;color:#5d687a;line-height:42px;left:0;right:0;font-family:ptsansbold;text-align:center;}
.c2z{display:inline-block;margin-left:4px;}
.c2e{padding:7px;}
.c27{line-height:30px;font-family:ptsansbold;white-space:nowrap;color:#6d798f;}
.c2v span,.c27 span{display:inline-block;width:9.2%;text-align:center;margin:2px 2.5%;}
.c2v span{line-height:26px;}
.c2v span.c2h{color:#bbb;}
.c2v span.c2c{color:#fff;border-radius:3px;cursor:pointer;background-color:#b65f5f !important;}
.c2v span.c2c:hover{opacity:0.7;}
.c2v span.c2x{background-color:#7e8fad;color:#fff;border-radius:3px;}
/* Checkbox */
.cqg{float:left;display:block;background-position:center center;background-repeat:no-repeat;margin-right:7px;cursor:pointer;width:14px;height:14px;border:1px solid #76849C;background-color:#eaeef3;border-radius:3px;}
.cqg.cq1{border-color:#7E9CCA;background-color:#fff;background-image:url(../images/ui/checkb.png);}
/* Dialog */
.c2g{display:none;position:fixed;left:0;right:0;top:0;bottom:0;z-index:699;background-color:#212D42;opacity:0.65;}
.c2g.c2k{display:block;}
.c29{position:fixed;left:50%;top:50%;border-radius:5px;background-color:#fff;display:none;z-index:700;}
.c29.c2k{display:block;}
.c29.c2u{left:0;right:0;top:0;bottom:0;border-radius:0;width:auto !important;height:auto !important;margin-left:0 !important;margin-top:0 !important;}
.c23{border-radius:5px 5px 0 0;position:relative;padding:12px;color:#4a5b6f;z-index:100;border-bottom:1px solid #e5e9f3;background-color:#f6f7f9;line-height:22px;font-size:16px;font-family:ptsansbold;text-align:center;}
.c23:empty{display:none;}
.c29.c2u .c23{border-radius:0;}
.c2j{position:relative;z-index:2;padding:15px 20px;}
.c2n,.c26{position:absolute;z-index:102;right:0;top:10px;margin-right:8px;width:23px;height:23px;background-position:center center;background-repeat:no-repeat;cursor:pointer;opacity:0.7;background-image:url(../images/ui/close-dialog.png);}
.c26{right:20px;background-image:url(../images/ui/expand-dialog.png);opacity:0.65;}
.c29.c2u .c26{background-image:url(../images/ui/minimize-dialog.png);}
.c26:hover,.c2n:hover{opacity:1;}
/* PopupMenu */
.cqw{position:absolute;z-index:500;width:200px;margin-top:1px;text-align:left;top:100%;border-radius:3px;background-color:#fff;border-left:1px solid #6C7992;border-right:1px solid #6C7992;max-height:0;overflow:hidden;transition:all 0.2s;}
.cqa{position:absolute;left:0;right:0;bottom:0;border-top:1px solid #6C7992;border-bottom:1px solid #6C7992;background-color:#fff;border-radius:3px;padding:5px 0;}
.cqi{position:relative;padding-left:15px;line-height:30px;font-size:14px;color:#424b57;cursor:pointer;white-space:nowrap;overflow:hidden;height:30px;}
/* Tooltip */
.c25{width:18px;height:18px;background-color:#C1C6D6;line-height:17px;display:inline-block;border-radius:50%;cursor:pointer;font-family:ptsansbold;text-align:center;box-sizing:border-box;color:#fff;}
.c25:before{content:'!';}
.c25:hover{background-color:#b65f5f;}
/* TooltipPopup */
.c2d{position:fixed;background-color:#fff;box-sizing:border-box;display:none;z-index:750;border-radius:3px;border:1px solid #C1C7D2;font-size:14px;color:#47536c;line-height:20px;min-width:200px;max-width:400px;}
.c2d.c2k{display:block;}
.c2p{height:35px;line-height:36px;border-bottom:1px solid #e5e9f3;padding-left:43px;background-repeat:no-repeat;color:#4a5b6f;font-size:16px;background-color:#f7f8f9;font-family:ptsansbold;background-image:url(../images/tooltips/info.png);background-position:10px center;}
.c2p:empty{display:none;}
.c2s{padding:15px 18px;}
.c2f{line-height:16px;padding:5px 0;}
/* style */
.c2t{position:absolute;left:50%;top:50%;width:300px;height:300px;margin-left:-150px;margin-top:-150px;}
/* Error404 */
.c2q{position:fixed;left:50%;top:50%;width:500px;margin-left:-250px;margin-top:-160px;text-align:center;}
.c2r{font-size:180px;line-height:180px;font-weight:bold;color:#AAAAAA;}
.c2w{font-size:18px;margin-top:10px;}
/* Main */
.c24{position:relative;width:1350px;margin:auto;}
.c24 table{width:100%;}
.c2a td{vertical-align:top;}
.c2a .c2o{width:354px;padding:12px;}
.c2i{position:relative;min-height:180px;border-radius:3px;font-size:14px;padding:49px 20px 12px 20px;box-shadow:0 0 6px #c1c5d1;}
.c21{position:absolute;left:0;right:0;top:0;line-height:39px;height:37px;color:#edf0f4;background-color:#51648d;padding-left:43px;font-family:ptsansbold;background-repeat:no-repeat;background-image:url(../images/mainpage/person-icon.png);border-radius:3px 3px 0 0;background-position:17px 50%;}
.c2o > div:last-child{position:relative;min-height:180px;border-radius:3px;font-size:14px;padding:49px 20px 12px 20px;box-shadow:0 0 6px #c1c5d1;}
.c2b{margin-top:27px;font-size:16px;color:#4c546b;padding-bottom:7px;}
/* UserInfo */
.c22{margin-top:10px;}
.c22 td{line-height:14px;vertical-align:middle;padding:6px 0;}
.c22 td:first-child{width:55%;color:#7f828a;}
.c22 td:last-child{width:45%;color:#4c546b;}
.c22 td:last-child.red{color:#cd380a;font-family:ptsansbold;}
.c2o .c4n{width:140px;display:inline-block;margin-top:10px;}
.c4n.c28{margin-right:10px;}
.c2l{color:#4c546b;font-size:14px;padding-top:5px;}
.cim{position:relative;padding-top:5px;color:#4c546b;font-size:14px;line-height:14px;padding-bottom:5px;}
.ci0{position:absolute;right:0;top:5px;width:120px;}
.ciy{font-size:12px;color:#8b8e97;padding-top:7px;}
.ciz{font-size:14px;color:#536b9f;line-height:14px;margin-bottom:3px;display:inline-block;border-bottom:1px solid #c3ccde;}
.cim small{color:#8b8e97;font-size:12px;}
/* Search */