/* DataTable */
.ua5{position:absolute;top:8px;margin-left:14px;max-width:1320px;left:24px;bottom:0;right:8px;z-index:1;-webkit-user-select:none;-moz-user-select:none;}
.uae.ua4 .ua5{left:336px;}
/* DataTableRow */
.uab{display:block;position:relative;padding-left:40px;padding-bottom:1px;cursor:pointer;color:#333A52;}
.uab:after{content:'';position:absolute;left:0;right:0;bottom:0;height:1px;background-color:#c3cdd8;z-index:2;}
.uaa .uab{padding-left:5px;padding-right:5px;}
.uaa .uap{display:none !important;}
.uan{position:absolute;z-index:2;display:none;left:0;top:0;bottom:0;width:9px;}
.uao,.uaz{position:absolute;left:0;width:40px;z-index:1;}
.uao{top:35px;bottom:0;background-image:url(../images/datatable/star.png);background-repeat:no-repeat;background-position:50% 5px;}
.uao.ua6{top:30px;background-image:url(../images/datatable/star2.png);}
.uaz{top:0;height:35px;}
.uaz .uai{margin:auto;margin-top:7px;float:none;}
.uar{display:block;float:left;margin-right:5px;min-width:10px;height:12px;color:#4B5569;border:1px solid #4B5569;border-radius:2px;text-align:center;line-height:12px;font-size:13px;padding-left:2px;padding-right:2px;margin-top:3px;}
/* DataTableStandartRow */
.uaq{position:relative;padding-top:7px;padding-bottom:7px;height:20px;white-space:nowrap;overflow:hidden;}
.uau{font-family:segoesemibold;line-height:17px;font-size:16px;color:#53638f;padding-right:220px;}
.ua2.ua1 .uau{font-family:Segoe UI;}
.uaj{position:absolute;right:5px;top:34px;width:200px;text-align:right;font-family:ptsansbold;color:#303B58;font-size:16px;}
.ua3{display:inline-block;padding-right:10px;padding-left:10px;position:relative;vertical-align:top;}
.ua3:first-child{font-family:ptsansbold;padding-left:0;padding-right:4px;}
.ua3:after{content:'';position:absolute;right:0;top:4px;bottom:2px;width:1px;background-color:#8D9AB1;}
.ua3:first-child:after,.ua3:last-child:after{display:none;}
.uah{margin-top:10px;white-space:nowrap;height:18px;padding-bottom:6px;}
/* FilterStatistics */
.uad{background-color:#f1f4f9;padding:10px 15px;border-radius:3px;margin-bottom:10px;position:relative;font-size:16px;color:#4c546b;font-family:ptsansbold;}
.uay{position:absolute;right:20px;top:0;cursor:pointer;background-repeat:no-repeat;line-height:40px;font-family:ptsansbold;background-image:url(../images/filterstat/refresh.png);background-position:0 50%;padding-left:20px;}
.uay:hover{color:#5c6ea0;}
.ual th{color:#4c546b;font-size:14px;font-weight:normal;text-align:left;padding:10px 0;border-bottom:1px solid #E0E6F3;width:12%;box-sizing:border-box;}
.uas span:nth-child(1),.ual th:nth-child(1){padding-left:19px;padding-right:20px;width:40%;white-space:normal;}
.uas span:nth-child(2),.uas span:nth-child(3),.ual th:nth-child(2),.ual th:nth-child(3){color:#3EB562;}
.uas span:nth-child(4),.ual th:nth-child(4){padding-left:10px;}
.uas{white-space:nowrap;padding:12px 0;border-bottom:1px solid #E0E6F3;}
.uas span{display:inline-block;width:12%;box-sizing:border-box;font-family:ptsansbold;}
.uas span:nth-child(1){cursor:pointer;font-family:ptsans;}
.uas span:nth-child(1):hover{color:#6484ca;}
.ua9{position:absolute;top:100px;bottom:60px;left:15px;right:5px;overflow:auto;}
/* SearchForm */
.uac{position:absolute;z-index:2;top:7px;left:-300px;bottom:7px;width:330px;border-radius:4px;color:#222121;background-color:#444b57;}
.uae.ua4 .uac{left:7px;}
.uag{height:37px;line-height:39px;padding-left:31px;font-family:ptsansbold;font-size:14px;box-sizing:border-box;color:#edf0f4;border-bottom:1px solid #3e4552;border-radius:4px 4px 0 0;background-image:linear-gradient(to bottom,#647188,#4d5768);}
.uag:before{content:'';display:inline-block;width:11px;height:11px;margin-right:8px;background-image:url(../images/searchform/search.png);}
.ua0{position:absolute;background-image:none !important;top:0;right:0;bottom:0;cursor:pointer;width:30px;z-index:25;background-color:#6279A7;border-radius:0 3px 3px 0;height:auto;}
.ua0:hover{background-color:#6E88BD;}
.ua0:after{content:'Расширенный поиск';transform:rotate(-90deg);font-size:16px;color:#fff;line-height:20px;position:absolute;right:-83px;top:90px;width:200px;font-family:ptsansbold;}
.uae.ua4 .ua0{display:none;}
.ua8{transform:rotate(180deg);display:block;position:absolute;right:0;top:7px;background-repeat:no-repeat;cursor:pointer;z-index:26;width:23px;height:23px;background-image:url(../images/searchform/close.png);background-position:100%;_50%     transition:all 0.2s ease-out;}
.uae.ua4 .ua8{transform:rotate(0deg);right:10px;}
.uat{position:absolute;right:34px;top:5px;padding-left:22px;line-height:16px;height:25px;width:0;font-size:14px;font-family:ptsansbold;background-repeat:no-repeat;cursor:pointer;white-space:nowrap;z-index:10;background-image:url(../images/searchform/clear.png);color:#5c606a;background-position:100%;_50% }
.uat .uav{display:none;position:absolute;color:#fff;right:0;line-height:36px;top:50%;margin-top:-18px;background-color:#D35655;padding:0 10px 0 11px;}
.uat:hover .uav{display:block;}
.uat.ua6 .uav{display:none;}
.uat.ua6{width:134px;height:36px;top:0;background-color:#D35655;}
.uat .uaf{display:none;white-space:nowrap;color:#fff;text-align:right;line-height:36px;}
.uat .uam{margin-left:15px;}
.uat.ua6 .uaf{display:block;}
.uat.ua6 .uam{line-height:36px;cursor:pointer;background-color:#B35050;padding:9px 15px;}
.ua7{position:absolute;left:0;right:0;bottom:0;top:130px;}
/* SearchFormButton */
.uaw{cursor:pointer;}
.uaw.uak{padding:5px 25px 5px 25px;}
.uaw.uak div{background-color:#fff;line-height:38px;border-radius:3px;border:1px solid #38414f;color:#72798c;box-sizing:border-box;padding-left:15px;}
/* SearchFormPanel */
.uax{position:absolute;left:-60px;top:10px;bottom:10px;z-index:200;width:330px;background-color:#fbfbfc;border-radius:3px;visibility:hidden;opacity:0;box-shadow:0 0 7px #b1b1b1;-moz-box-shadow:0 0 7px #b1b1b1;-webkit-box-shadow:0 0 7px #b1b1b1;transition:visibility 0.4s,left 0.4s,opacity 0.4s;}
.uax.up5{visibility:visible;opacity:1;left:10px;}
.upe{font-size:18px;padding:0 20px;margin-bottom:8px;line-height:46px;height:46px;color:#505b6e;border-bottom:1px solid #d9ddea;font-family:ptsansbold;background-image:linear-gradient(to bottom,#fbfbfc,#edf1f6);}
.up4{position:absolute;right:12px;top:14px;width:20px;height:20px;cursor:pointer;background-image:url(../images/form/close-panel.png);background-position:center center;background-repeat:no-repeat;z-index:10;}
.up4:hover{opacity:0.6;}
.uax.upb{width:1000px;}
/* SearchFormCreateFilterMenu */
.upa.upp .upn{border:none;}
.upa.upp{margin-top:3px;-webkit-box-shadow:0 5px 14px 0 rgba(0,0,0,0.75);-moz-box-shadow:0 5px 14px 0 rgba(0,0,0,0.75);box-shadow:0 5px 14px 0 rgba(0,0,0,0.75);border:none;width:278px;}
/* SearchFormFilterMenu */
.upa.upo .upn{border:none;overflow:auto;}
.upa.upo{margin-top:3px;left:auto;right:0;box-shadow:0 5px 14px 0 #404040;border:none;width:278px;}
.upa.upo .upz{padding-left:30px;}
.upa.upo .uai{background-color:transparent;border:none !important;background-image:url(../images/ui/checkbu.png);opacity:0.4;position:absolute;left:8px;top:50%;margin-top:-7px;}
.upa.upo .uai.up6{background-image:url(../images/ui/checkb.png);opacity:1;}
/* SearchFormFilters */
.upi{position:relative;margin-top:12px;margin-left:26px;margin-right:26px;height:38px;line-height:38px;font-size:14px;z-index:12;}
.upr{position:absolute;z-index:2;left:0;right:55%;top:0;bottom:0;background-color:#6e85c5;background-image:url(../images/searchform/button-bg.png);background-position:0 0;cursor:pointer;color:#fff;border-radius:4px 0 0 4px;-moz-border-radius:4px 0 0 4px;-webkit-border-radius:4px 0 0 4px;text-align:center;transition:right 0.3s;-moz-transition:right 0.3s;-webkit-transition:right 0.3s;border-right:1px solid #3b4451;}
.upr:hover{background-position:0 100%;}
.upq{position:absolute;left:45%;right:0;top:0;bottom:0;background-color:#eaeef4;color:#51608b;padding-left:12px;cursor:pointer;border-radius:0 4px 4px 0;}
.upu{width:100px;position:absolute;left:0;top:0;bottom:0;text-align:center;}
.up2{position:absolute;right:4px;top:4px;bottom:4px;width:42px;background-color:#4e6a9b;border-radius:4px;background-image:url(../images/searchform/button-bg.png);background-position:0 12%;}
.up2:before{content:'';position:absolute;top:0;left:0;right:0;bottom:0;background-image:url(../images/searchform/arrow.png);background-position:85% 50%;background-repeat:no-repeat;}
.up1{font-family:ptsansbold;line-height:30px;display:block;text-align:center;font-size:14px;cursor:pointer;color:#ffffff;box-sizing:border-box;padding-right:13px;}
.upj{display:none;}
.upi.up3 .upj{display:block;height:30px;background-image:url(../images/searchform/plus.png);background-position:50% 50%;background-repeat:no-repeat;}
.uph{position:absolute;top:48px;right:0;height:26px;padding:0 6px;line-height:26px;background-color:#539e64;color:#ffffff;cursor:pointer;white-space:nowrap;overflow:hidden;cursor:pointer;text-overflow:ellipsis;font-family:ptsansbold;border-radius:5px;}
.uph:hover{background-color:#499059;}
.upd{max-width:170px;position:absolute;top:52px;left:0;line-height:18px;color:#eff1f5;cursor:default;white-space:nowrap;overflow:hidden;cursor:pointer;text-overflow:ellipsis;padding-right:20px;}
.upd:before{content:'';border-bottom:1px dashed #a9adb3;position:absolute;bottom:0;left:0;right:20px;}
/* Input */
.upy{margin:5px 0;}
.upy.upl{display:inline-block;width:49%;vertical-align:top;}
.upy.upl:nth-child(2n){margin-left:2%;}
.ups{color:#6f7b9a;font-size:14px;line-height:14px;margin-bottom:6px;}
.upy textarea,.upy input{padding:10px;box-sizing:border-box;width:100%;background-color:transparent;color:#6f7b9a;font-family:ptsansbold;font-size:14px;border:1px solid #bec8da;border-radius:3px;box-shadow:inset 2px 1px 3px #d7deec;}
.upy textarea:focus,.upy input:focus{border-color:#38986a;box-shadow:1px 1px 6px #93C7AE;outline:none;}
/* Select */
.up9{position:relative;box-sizing:border-box;font-family:ptsansbold;color:#6f7b9a;font-size:14px;border:1px solid #bec8da;border-radius:3px;cursor:pointer;box-shadow:inset 2px 1px 3px #d7deec;}
.up9.upc{border:0;box-shadow:none;}
.up9:hover{border-color:#68758c;box-shadow:1px 1px 6px #bfc7d8;}
.up9.upc:hover{box-shadow:none;}
.up9:after{content:'';position:absolute;right:8px;top:15px;background-image:url(../images/ui/select-arrow.png);width:10px;height:5px;opacity:0.8;}
.up9:hover:after{opacity:1;}
.up9.ua6{z-index:10;}
.up9.ua6:hover{z-index:15;}
.upg{padding:10px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.up0{position:absolute;display:none;top:100%;left:-1px;right:-1px;margin-top:2px;max-height:300px;background-color:#fff;border:1px solid #bec8da;border-radius:4px;padding:6px;font-family:ptsans;overflow:auto;box-shadow:2px 2px 5px #e4e4e4;}
.up9.ua6 .up0{display:block;}
.up8{line-height:13px;font-size:13px;padding:7px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;cursor:pointer;color:#444C61;}
.up8:hover{color:#5f6b7f;background-color:#e7ecf4;}
.up8.upt{color:#a5aec0;cursor:default;}
.up8.upt:hover{background-color:#fff;}
/* CalendarFavorites */
.upv{padding-bottom:20px;min-height:300px;}
/* Support */
.upf.upm{position:absolute;bottom:15px;right:20px;width:235px;}
/* App */
@charset "utf-8";*::-webkit-scrollbar{width:10px;height:10px;}
 *::-webkit-scrollbar-button{display:none;}
 *::-webkit-scrollbar-track{background-color:#bec5cf;}
 *::-webkit-scrollbar-track-piece{background-color:#bec5cf;}
 *::-webkit-scrollbar-thumb{min-height:35px;min-width:35px;background-color:#45546d;cursor:pointer;}
 *::-webkit-scrollbar-thumb:hover{background-color:#60708b;}
 *::-webkit-scrollbar-corner{background-color:#bec5cf;}
*::-webkit-resizer{background-color:#bec5cf;}
@font-face{font-family:'ptsans';src:url('../fonts/ptsans.woff2') format('woff2'),url('../fonts/ptsans.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'ptsansbold';src:url('../fonts/ptsansbold.woff2') format('woff2'),url('../fonts/ptsansbold.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'segoesemibold';src:url('../fonts/seguisb.woff2') format('woff2'),url('../fonts/seguisb.woff') format('woff');font-weight:normal;font-style:normal;}
html{height:100%;}
body{padding:0;margin:0;font-family:ptsans;color:#505b6e;position:absolute;width:100%;height:100%;font-size:14px;}
h1{font-weight:normal;}
a{cursor:pointer;color:#505b6e;text-decoration:none;}
textarea{resize:none;}
b{font-family:ptsansbold;font-weight:normal;}
.up7{position:absolute;padding:0;z-index:1;top:43px;left:0;right:0;bottom:0;}
.upw{font-family:ptsansbold;}
.upf{position:relative;display:block;line-height:38px;max-height:38px;min-height:38px;font-size:14px;background-color:#5c729e;color:#fff;font-family:ptsansbold;border-radius:3px;text-align:center;cursor:pointer;box-sizing:border-box;background-image:url(../images/buttons/blue.png);background-position:0 0;-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;}
.upf:hover{background-position:0 100% !important;}
.upf.upk{background-color:#38986a;background-image:url(../images/buttons/green.png);}
.upf.upx{background-color:#b65f5f;background-image:url(../images/buttons/red.png);}
.upf.un5{background-image:none !important;background-color:#e1e1e2;color:#40434e;border:1px solid #b7b6b6;line-height:36px;}
.upf.un5:hover{border:1px solid #919498;background-color:#d3d5dd;color:#2c3b5a;}
.upf.une{background-image:none !important;color:#535f77;background-color:#fff;border:1px solid #a6b3cb;line-height:36px;font-family:ptsans;}
.upf.une:hover{border:1px solid #677CA7;color:#3D485F;}
.upf.upt{background-color:#aaa;}
.un4{float:left;}
.unb{float:right;}
/* AuthForm */
.una{font-size:50px;text-align:center;line-height:50px;}
.unp{margin-top:20px;}
/* OrderCallForm */
.unn .uno{display:inline-block;width:140px;margin-right:12px;}
.unn textarea{height:100px;}
/* TopMenu */
.unz{position:fixed;top:0;left:0;right:0;z-index:2;height:42px;line-height:42px;background-color:#fff;border-bottom:1px solid #B6BFCE;box-shadow:0 1px 6px #D1D8E2;}
.un6{position:relative;}
body.uni .un6{width:1350px;margin:auto;}
.unz a{position:relative;display:block;float:left;height:38px;padding-left:35px;padding-right:20px;background-repeat:no-repeat;color:#4c546b;font-size:14px;background-position:10px 54%;border-bottom:4px solid #ffffff;}
.unz a.unr{width:148px;height:42px;box-sizing:border-box;background-image:url(../images/topmenu/logo.png);background-position:50% 64%;}
.unz a:nth-child(2){background-image:url(../images/topmenu/main.png);}
.unz a:nth-child(3){background-image:url(../images/topmenu/search.png);}
.unz a:nth-child(4){background-image:url(../images/topmenu/favorite.png);}
.unz a:nth-child(5){background-image:url(../images/topmenu/planzakupok.png);}
.unz a:nth-child(6){background-image:url(../images/topmenu/analytics.png);}
.unz a.ua6{color:#4C546B;font-family:ptsansbold;border-bottom:4px solid #4C546B !important;}
/* Calendar */
.unq{border-radius:3px;margin-top:4px;border:1px solid #e4eaf3;font-size:14px;box-shadow:0 0 6px #dde4ef;}
.unu{position:relative;background-color:#f5f8fc;height:42px;border-radius:3px;border-bottom:1px solid #d6e1f0;}
.un2,.un1{position:absolute;width:30px;top:0;bottom:0;background-position:center center;background-repeat:no-repeat;cursor:pointer;z-index:2;}
.un2{left:19%;background-image:url(../images/arrows/left1.png);}
.un1{right:19%;background-image:url(../images/arrows/right1.png);}
.un2:hover,.un1:hover{opacity:0.7;}
.unj{position:absolute;color:#5d687a;line-height:42px;left:0;right:0;font-family:ptsansbold;text-align:center;}
.un3{display:inline-block;margin-left:4px;}
.unh{padding:7px;}
.und{line-height:30px;font-family:ptsansbold;white-space:nowrap;color:#6d798f;}
.uny span,.und span{display:inline-block;width:9.2%;text-align:center;margin:2px 2.5%;}
.uny span{line-height:26px;}
.uny span.unl{color:#bbb;}
.uny span.uns{color:#fff;border-radius:3px;cursor:pointer;background-color:#b65f5f !important;}
.uny span.uns:hover{opacity:0.7;}
.uny span.un9{background-color:#7e8fad;color:#fff;border-radius:3px;}
/* Checkbox */
.uai{float:left;display:block;background-position:center center;background-repeat:no-repeat;margin-right:7px;cursor:pointer;width:14px;height:14px;border:1px solid #76849C;background-color:#eaeef3;border-radius:3px;}
.uai.up6{border-color:#7E9CCA;background-color:#fff;background-image:url(../images/ui/checkb.png);}
/* Dialog */
.unc{display:none;position:fixed;left:0;right:0;top:0;bottom:0;z-index:699;background-color:#212D42;opacity:0.65;}
.unc.up5{display:block;}
.ung{position:fixed;left:50%;top:50%;border-radius:5px;background-color:#fff;display:none;z-index:700;}
.ung.up5{display:block;}
.ung.un0{left:0;right:0;top:0;bottom:0;border-radius:0;width:auto !important;height:auto !important;margin-left:0 !important;margin-top:0 !important;}
.un8{border-radius:5px 5px 0 0;position:relative;padding:12px;color:#4a5b6f;z-index:100;border-bottom:1px solid #e5e9f3;background-color:#f6f7f9;line-height:22px;font-size:16px;font-family:ptsansbold;text-align:center;}
.un8:empty{display:none;}
.ung.un0 .un8{border-radius:0;}
.unt{position:relative;z-index:2;padding:15px 20px;}
.unv,.unf{position:absolute;z-index:102;right:0;top:10px;margin-right:8px;width:23px;height:23px;background-position:center center;background-repeat:no-repeat;cursor:pointer;opacity:0.7;background-image:url(../images/ui/close-dialog.png);}
.unf{right:20px;background-image:url(../images/ui/expand-dialog.png);opacity:0.65;}
.ung.un0 .unf{background-image:url(../images/ui/minimize-dialog.png);}
.unf:hover,.unv:hover{opacity:1;}
/* PopupMenu */
.upa{position:absolute;z-index:500;width:200px;margin-top:1px;text-align:left;top:100%;border-radius:3px;background-color:#fff;border-left:1px solid #6C7992;border-right:1px solid #6C7992;max-height:0;overflow:hidden;transition:all 0.2s;}
.upn{position:absolute;left:0;right:0;bottom:0;border-top:1px solid #6C7992;border-bottom:1px solid #6C7992;background-color:#fff;border-radius:3px;padding:5px 0;}
.upz{position:relative;padding-left:15px;line-height:30px;font-size:14px;color:#424b57;cursor:pointer;white-space:nowrap;overflow:hidden;height:30px;}
/* Submit */
.unm{margin-top:15px;}
/* TabPanel */
.un7{position:relative;height:34px;}
.unw{width:200px;text-align:center;position:absolute;height:34px;line-height:34px;background-color:#e2e4ea;color:#40485F;cursor:pointer;border-radius:2px 2px 0 0;font-size:14px;z-index:1;}
.unw.ua6{color:#515869;background-color:#fff;font-family:ptsansbold;top:-3px;height:36px;line-height:36px;margin-left:-4px;width:208px;z-index:2;box-shadow:0 0 5px #c1c5d1;}
.unw.unk.ua6{margin-left:0;}
.unw:not(.ua6):hover{background-color:#eee;}
.unw:not(.ua6):after{position:absolute;content:'';bottom:0;left:0;right:0;height:4px;background-image:url(../images/tabpanel/shade.png);background-repeat:repeat-x;z-index:2;}
.unw.ua6:after{position:absolute;content:'';top:100%;height:3px;background-color:#fff;left:0;right:0;}
.unw.unx{width:auto;padding:0 20px;z-index:1;visibility:hidden;}
.unw.unx.up5{visibility:visible;}
/* Tooltip */
.ud5{width:18px;height:18px;background-color:#C1C6D6;line-height:17px;display:inline-block;border-radius:50%;cursor:pointer;font-family:ptsansbold;text-align:center;box-sizing:border-box;color:#fff;}
.ud5:before{content:'!';}
.ud5:hover{background-color:#b65f5f;}
/* TooltipPopup */
.ude{position:fixed;background-color:#fff;box-sizing:border-box;display:none;z-index:750;border-radius:3px;border:1px solid #C1C7D2;font-size:14px;color:#47536c;line-height:20px;min-width:200px;max-width:400px;}
.ude.up5{display:block;}
.ud4{height:35px;line-height:36px;border-bottom:1px solid #e5e9f3;padding-left:43px;background-repeat:no-repeat;color:#4a5b6f;font-size:16px;background-color:#f7f8f9;font-family:ptsansbold;background-image:url(../images/tooltips/info.png);background-position:10px 50%;}
.ud4:empty{display:none;}
.udb{padding:15px 18px;}
.uda{position:relative;line-height:16px;padding:4px 0 4px 12px;}
.uda:before{content:'';width:5px;height:5px;border-radius:50%;position:absolute;left:0;top:10px;background-color:#47536c;}
/* Error401 */
.udp{position:absolute;left:50%;top:50%;width:300px;height:300px;margin-left:-150px;margin-top:-150px;}
/* Error404 */
.udn{position:fixed;left:50%;top:50%;width:500px;margin-left:-250px;margin-top:-160px;text-align:center;}
.udo{font-size:180px;line-height:180px;font-family:ptsansbold;color:#aaa;}
.udz{font-size:18px;margin-top:10px;}
/* FilterSubscription */
.ud6:after{}
.udi{position:relative;font-size:16px;color:#4c546b;padding:10px 5px;}
.udr{border-bottom:1px solid #e4e4e4;padding-top:5px;font-family:ptsansbold;line-height:32px;}
.udq{display:inline-block;border-bottom:2px solid #b65f5f;margin-left:10px;}
.udu{float:right;border-bottom:2px solid #38986a;margin-right:45px;}
.ud2{width:100%;}
.ud2 th{font-weight:normal;color:#8b8e97;padding:10px 0;font-size:14px;text-align:center;box-sizing:border-box;border-bottom:1px solid #e4e4e4;}
.ud2 td{vertical-align:middle;padding:6px;border-bottom:1px solid #E0E6F3;line-height:14px;box-sizing:border-box;}
.ud2 th:first-child,.ud2 td:first-child{text-align:left;width:auto;padding-left:6px;}
.ud2 th:nth-child(2),.ud2 td:nth-child(2){width:160px;}
.ud2 th:nth-child(3),.ud2 td:nth-child(3){width:180px;}
.ud2 th:nth-child(4),.ud2 td:nth-child(4){width:30px;padding-left:0;padding-right:0;}
.ud2 td:first-child span{color:#384767;font-size:16px;cursor:pointer;}
.ud2 td:first-child span:hover{color:#6484ca;}
.ud6 .ud1:after{content:'Подписаться';}
.ud6 .ud1.upk:after{content:'Подписка оформлена';}
.ud6 .ud1.upk:hover{background-color:#b65f5f;background-image:url(../images/buttons/red.png);}
.ud6 .ud1.upk:hover:after{content:'Отписаться';}
/* FilterSubscriptionOptions */
.udj{margin-bottom:12px;border-radius:3px;border:1px solid #E0E6F3;padding:10px;cursor:pointer;}
.udj .uai{margin-top:2px;}
/* Main */
.ud3{position:relative;width:1350px;margin:auto;}
.ud3 table{width:100%;}
.udh > tr > td{vertical-align:top;}
.udh .udd{width:354px;padding:12px;}
.udy{position:relative;min-height:180px;border-radius:3px;font-size:14px;padding:49px 20px 12px 20px;box-shadow:0 0 6px #c1c5d1;}
.udl{position:absolute;left:0;right:0;top:0;line-height:39px;height:37px;color:#edf0f4;background-color:#51648d;padding-left:43px;font-family:ptsansbold;background-repeat:no-repeat;background-image:url(../images/mainpage/person-icon.png);border-radius:3px 3px 0 0;background-position:17px 50%;}
.udd > div:last-child{position:relative;min-height:180px;border-radius:3px;font-size:14px;padding:49px 20px 12px 20px;box-shadow:0 0 6px #c1c5d1;}
.uds{margin-top:27px;font-size:16px;color:#4c546b;padding-bottom:7px;}
.uds .ud5{float:right;}
.udh .ud9{padding-top:12px;position:relative;}
.udc{position:absolute;bottom:12px;top:46px;left:0;right:12px;border-radius:3px;overflow:auto;padding:12px 15px;box-sizing:border-box;box-shadow:0 0 6px #c1c5d1;}
/* UserInfo */
.udg{margin-top:10px;}
.udg td{line-height:14px;vertical-align:middle;padding:6px 0;}
.udg td:first-child{width:55%;color:#7f828a;}
.udg td:last-child{width:45%;color:#4c546b;}
.udg td:last-child.red{color:#cd380a;font-family:ptsansbold;}
.udd .upf{width:140px;display:inline-block;margin-top:10px;}
.upf.ud0{margin-right:10px;}
.ud8{color:#4c546b;font-size:14px;padding-top:5px;}
.udt{position:relative;padding-top:5px;color:#4c546b;font-size:14px;line-height:14px;padding-bottom:5px;}
.udv{position:absolute;right:0;top:5px;width:120px;}
.udf{font-size:12px;color:#8b8e97;padding-top:7px;}
.udm{font-size:14px;color:#536b9f;line-height:14px;margin-bottom:3px;display:inline-block;border-bottom:1px solid #c3ccde;}
.udt small{color:#8b8e97;font-size:12px;}
/* Search */